<!DOCTYPE html>
<html>
<head>
	<!--TCL企业公民行动详情-->
	<meta charset="UTF-8">
	<title>TCL企业公民行动详情</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p><a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">关于首页</a> > <a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">社会责任</a> > <span>企业公民行动</span></p>
		</div>
	</div>	
	<div class="gmxd_content">
      <span class="title">为爱蓄力 TCL志愿者协会年会暨优秀志愿者表彰大会召开</span>
      <p class="duan"> 12月5日，第30个国际志愿者日来临之际，第一届TCL志愿者协会年会暨优秀志愿者表彰大会召开，对一年来表现突出的TCL优秀志愿者团体及个人进行表彰。会后，志愿者团队组织开展TCL“戈行西湖•公益寻宝”户外历奇公益拓展活动，在身体行走的艰辛中志愿者们坚定志愿理想与信念。</p>
      <div class="gmxd_pp"><a><img src="http://www.tcl.com/attached/image/20151207/20151207101211_42646.jpg"></a><a><img src="http://www.tcl.com/attached/image/20151207/20151207101221_54021.jpg"></a></div>
      <p class="duan"><strong>优秀志愿团队及个人表彰</strong><br /><br />第一届TCL志愿者协会年会暨优秀志愿者表彰大会在惠州TCL科技大厦举行， TCL志愿者协会会长米新滨、TCL集团党群工作部部长 黄开莉、TCL志愿者协会副会长刘磊及近百名志愿者出席。2015年初成立的TCL志愿者协会秉承着集团“为社会承担责任，做优秀企业公民”的理念，由TCL公益基金会联合集团党群工作部、集团人力资源管理中心共同发起，系统地完成着志愿者工作，如今已有10个分会，上千名成员。</p>
 <p class="duan">在将近一年的时间中，TCL的志愿者们走过乡间，翻过山野，怀着赤诚的心去走访为乡村教育事业付出的“TCL希望工程烛光奖”获奖教师，为“最悲凉作文”的孩子们送秋衣冬装，一砖一石为惠州南山天梯添砖加瓦，探访广西贫困学生，清洁海洋、保护生态……为表彰志愿者们做出的突出贡献，林立等9位志愿者分会会长获得2015年度“优质服务奖”，贾志刚等48名优秀志愿者获得2015年度“志愿者之星”。</p>
<div class="gmxd_pp"><a><img src="http://www.tcl.com/attached/image/20151207/20151207101229_51059.jpg"></a><a><img src="http://www.tcl.com/attached/image/20151207/20151207101239_27806.jpg"></a></div>
 <p class="duan">在这些辛勤付出的优秀志愿者们背后，少不了各分会的积极响应组织开展各类公益活动，TCL志愿者协会多媒体深圳分会、TCL志愿者协会集团总部分会、TCL志愿者协会通力电子分会、TCL志愿者协会移动分会、TCL志愿者协会空调武汉分会、TCL志愿者协会显示科技分会获得“2015年度优秀志愿者分会”，同时TCL志愿者协会多媒体惠州分会、TCL志愿者协会华星光电分会、TCL志愿者协会中山空调分会三大分会由于表现突出，而荣获了“2015年度卓越志愿者分会”。随后各分会代表现场回顾交流一年以来的志愿活动。</p>
 <p class="duan">2015年是TCL志愿者协会成立的元年，也是见证志愿者们利用工作之余的时间，积极投身于公益慈善事业的一年，此次志愿者年会，特别邀请了三星（中国）投资有限公司 CSR事务局总监 孙贵峰，世茂集团 公益事务负责人 史森来与TCL志愿者分享了各自企业的志愿者活动的经验。志愿者们纷纷表示受益匪浅，值得学习。</p>
<div class="gmxd_pp"><a><img src="http://www.tcl.com/attached/image/20151207/20151207101250_99497.jpg"></a><a><img src="http://www.tcl.com/attached/image/20151207/20151207101259_62785.jpg"></a></div>
 <p class="duan"><strong>戈行西湖，坚定志愿理想与信念</strong><br /></p>
 <p class="duan">下午，TCL志愿者团队组织开展“戈行西湖•公益寻宝”户外历奇活动，一群身着红色T恤的志愿者们，分为6个团队，根据设置的互动游戏与任务挑战，在惠州西湖各景点穿梭，他们有的向市民传播垃圾分类知识，有的用心地做着环保问卷调查，他们邀请市民一起完成团队合影，他们共同完成戈行徒步里程数。做任务的时候，团队协力求助一名摔伤的游客，他们用赤诚之心，关爱需要帮助的人，他们用自身行动，更好地去看见公益，体现了大爱的志愿精神。</p>
 <p class="duan">戈行西湖拓展活动秉持“践行梦想、突破局限、超越自我、淬炼组织”的理念，通过团队活动促使队员们共同理解与探讨志愿精神与公益意义，增强志愿者们坚韧拼搏的意识，提高团队合作能力和凝聚力。最终在规定时间内回到起点的团队，获得了王治郅签名T恤，他们在风雨中喊出一个口号“志同道合、愿爱同行”。</p>
 <p class="duan"> 优秀的志愿者不仅强化了集团的公益形象，提升了员工和企业的社会责任感，而且促进了集团内部公益慈善文化的建设，推动了TCL集团公益事业的发展。TCL志愿者协会会长米新滨表示，“希望今后大家能更加积极的参与志愿者活动，并通过公益的正能量感染更多的TCL员工加入到志愿者协会，一起携手为公益事业多做一点，向内部志愿者文化建设更迈进一步，让TCL公益之光传递的更辽远。”</p>
</div>			
    <!--<div class="contaier"><div id="pager"></div></div>-->
       
		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
    <script type="text/javascript" src="/static/js/core/about.js"></script>
    <script type="text/javascript" src="/static/js/core/jquery.pager.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function() {
            $("#pager").pager({ pagenumber: 1, pagecount: 3, buttonClickCallback: PageClick });
        });

         function PageClick(pageclickednumber) {
            $("#pager").pager({ pagenumber: pageclickednumber, pagecount: 3, buttonClickCallback: PageClick });
        }
       
    </script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>