<!DOCTYPE html>
<html>
<head>
	<!--TCL企业公民行动-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p><a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">关于首页</a> > <a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">社会责任</a> > <span>企业公民行动</span></p>
		</div>
	</div>	
	<div class="gmxd_content">
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20160531/20160531102539_58875.jpg"></dd>
      <dt><span class="gmxs_title pr">TCL玫瑰行动｜跪着的八年 <i class="date pa">2016-05-28</i></span>   
      <p class="gmxs_des">最近有这样一则消息，一位身患残疾的女教师，八年如一日地跪着给学生讲课。看到这样的信息，相信很多人都会对这名教师肃然起敬，但同时也会想知道是怎样一种信念让她坚持至今</p>
      </dt>
      </dl> 
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20160531/20160531102132_99643.jpg"></dd>
      <dt><span class="gmxs_title pr">TCL 520｜爱无界 千里行<i class="date pa">2016-05-20</i></span>   
      <p class="gmxs_des">2016.5.20，爱心助力，梦行千里，“梦的千里行”医疗公益行动在成都世茂城启动，来自四川省和云南省的16家乡镇卫生院院长接受了本次活动捐赠的17台医疗设备、检验检测仪器和救护车</p>
      </dt>
      </dl> 
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20160512/20160512155124_40276.jpg"></dd>
      <dt><span class="gmxs_title pr">TCL动态：没有电没有信号 他在震区守护50多名藏族孩子 <i class="date pa">2016-05-08</i></span>   
      <p class="gmxs_des">2016第三届TCL希望工程烛光奖“玫瑰行动”志愿者在行动。4月29日，经过50多个小时的车程，青海小分队志愿者到达青海省玉树州囊谦县瓦卡村，走进更桑才丁老师的世界</p>
      </dt>
      </dl> 
      <dl class="gmxd_list">
      <dd><a href="TCL企业公民行动详情2.html" target="_blank"><img src="http://www.tcl.com/attached/image/20160512/20160512155844_46840.jpg"></a></dd>
      <dt><span class="gmxs_title pr">TCL动态：TCL玫瑰行动｜重回大山的赵老师<i class="date pa">2016-04-28</i></span>   
      <p class="gmxs_des">2016第三届TCL希望工程烛光奖“玫瑰行动”志愿者在行动，走进每一位乡村教师的世界。第一站志愿者们前往甘肃省白银市会宁县中川镇中心小学，走进赵维岳校长的世界</p>
      </dt>
      </dl>
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20160107/20160107094303_44669.jpg"></dd>
      <dt><span class="gmxs_title pr">创新公益模式，为乡村教师打造公众扶助平台——第三届TCL希望工程烛光奖启动<i class="date pa">2016-12-07</i></span>   
      <p class="gmxs_des">12月5日，第30个国际志愿者日来临之际，第一届TCL志愿者协会年会暨优秀志愿者表彰大会召开，对一年来表现突出的TCL优秀志愿者团体及个人进行表彰。会后，志愿者团队组织开展TCL“戈行西湖•公益寻宝”户外历奇公益拓展活动，在身体行走的艰辛中志愿者们坚定志愿理想与信念</p>
      </dt>
      </dl> 
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20151207/20151207101211_42646.jpg"></dd>
      <dt><span class="gmxs_title pr">云南慈善总会牵手中国500强民企资助武定敬老院<i class="date pa">2015-11-30</i></span>   
      <p class="gmxs_des">据中国民营企业联合会、中国管理科学研究院企业研究中心联合组织的2015年中国民营500强企业排行榜发布信息显示，TCL集团股份有限公司在500强企业中排行居15位。11月25日，云南省慈善总会牵手TCL集团在武定县猫街镇敬老院举行“扶贫惠民工程启动仪式”。云南省慈善总会秘书长李勇、武定县政府</p>
      </dt>
      </dl>
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20151025/20151025074804_33257.jpg"></dd>
      <dt><span class="gmxs_title pr">华萌基金·惠州华罗庚中学2015“华萌班”新生见面会召开<i class="date pa">2015-10-24</i></span>   
      <p class="gmxs_des">10月24日，华萌基金·惠州华罗庚中学2015“华萌班”新生见面会召开，华萌基金秘书长 黄开莉、华罗庚中学校长黄进添 、华萌基金副秘书长 刘磊、TCL集团财务管理中心总经理 杨安明、华罗庚中学党委委员、教学管理部部长蓝世剑参加出席。杨安明作为此次“华萌星课堂”导师，为华罗庚中学“华萌</p>
      </dt>
      </dl> 
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20151020/20151020172640_64886.jpg"></dd>
      <dt><span class="gmxs_title pr">奋斗的日子饱含光芒：“TCL希望工程烛光奖”烛光课堂第三期线下培训结营<i class="date pa">2015-10-19</i></span>   
      <p class="gmxs_des">10月16日，为期一周的“TCL希望工程烛光奖”烛光课堂第三期线下培训在成都举办结业仪式。中国青少年发展基金会公众推广部部长顾蒸蒸、TCL公益基金会执行秘书长刘磊出席</p>
      </dt>
      </dl>
      <dl class="gmxd_list">
      <dd><img src="http://www.tcl.com/attached/image/20151012/20151012161608_66557.jpg"></dd>
      <dt><span class="gmxs_title pr">走进成都 “TCL希望工程烛光奖”烛光课堂第三期线下培训开班<i class="date pa">2015-10-12</i></span>   
      <p class="gmxs_des">10月12日，中国青少年发展基金会与TCL公益基金会共同组织实施“TCL希望工程烛光奖”烛光课堂第三期线下培训在成都开班，本期线下培训继北京、上海站之后来到成都，继续发挥“翻转课堂”培训课程创新教育理念，带领“TCL希望工程烛光奖”第三批获奖教师走进成都西南民族大学，感受成都</p>
      </dt>
      </dl>  
    </div>			
    <div class="contaier"><div id="pager"></div></div>
       
		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
    <script type="text/javascript" src="/static/js/core/about.js"></script>
    <script type="text/javascript" src="/static/js/core/jquery.pager.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function() {
            $("#pager").pager({ pagenumber: 1, pagecount: 3, buttonClickCallback: PageClick });
        });

         function PageClick(pageclickednumber) {
            $("#pager").pager({ pagenumber: pageclickednumber, pagecount: 3, buttonClickCallback: PageClick });
        }
       
    </script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>