<!DOCTYPE html>
<html>
<head>
	<!--TCL企业公民行动详情2-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p><a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">关于首页</a> > <a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">社会责任</a> > <span>企业公民行动</span></p>
		</div>
	</div>	
	<div class="gmxd_content">
      <span class="title">TCL动态：TCL玫瑰行动｜重回大山的赵老师</span>
      <p class="duan">2016第三届TCL希望工程烛光奖“玫瑰行动”志愿者在行动，走进每一位乡村教师的世界。第一站志愿者们前往甘肃省白银市会宁县中川镇中心小学，走进赵维岳校长的世界。</p>
      <div class="gmxd_pp"><a><img src="http://www.tcl.com/attached/image/20160512/20160512155844_46840.jpg"></a><a><img src="http://www.tcl.com/attached/image/20160512/20160512155905_62252.jpg"></a></div>
      <p class="duan">中心小学距离会宁县城仅25公里，半小时的车程说远也不远，可中心小学的老师，每周只能回一次家。</p>
 <p class="duan">走进教室、宿舍、食堂，没想到中心小学会有澡堂，可因为缺水，从建成到现在，一次都没有使用过；平房教室，配备了最新的多媒体设施，新教学楼今年就能竣工，这所中心小学的硬件设施远比想象中要好，只是校长赵维岳，面对农村教育现况有些为难。</p>
 <p class="duan">4月27日，中午11时，二年级最后体育课，校长赵维岳一身正装，带着40多个孩子，站在被工地占据了一大半空地上，喊着稍息、立正……</p>
 <p class="duan">40分钟的体育课，赵维岳上的并不专业，跑步、左右转、稍息、立正，做游戏……看似不符合我们对体育课标准，但深聊之后，其实是这位年轻校长并不具备体育老师的专业素质，这恰恰是农村教师结构的不合理的一处小缩影，因为这所近300人的中心小学，没有音乐、体育、美术的专职老师。</p>
 <p class="duan"><strong>考出去为何又要再考回来？</strong><br /><br />校长赵维岳曾经用13年得时间走出了会宁，他和很多会宁人一样，拥有一个只有走出去，一切就好的梦，一次没考上，再复读，19岁考到兰州，走出会宁县。</p>
 <p class="duan"> 会宁县拥有“状元故里，博士之乡”称，作为西北教育名县，每年考出去的大学生数以千人，可每年回来的大学生也就百人。近年来，随着大城市就业难的现况，却为这个小县城招回了不少大学生，只是回来他们真的甘心吗？</p>
<div class="gmxd_pp01"><a><img src="http://www.tcl.com/attached/image/20160512/20160512155922_29469.jpg"></a><a><img src="http://www.tcl.com/attached/image/20160512/20160512155937_51270.jpg"></a><a><img src="http://www.tcl.com/attached/image/20160512/20160512155954_99217.jpg"></a></div>
 <p class="duan">9月21日，志愿者从宜昌市区出发，驱车前往恩施州巴东县清太坪镇白沙坪小学。车子在崇山峻岭中穿行，穿过一座座架在山与山之间的桥，穿过一座座隧道，历时三个半小时，终于到达白沙坪小学。来到学校，地面坑坑洼洼，雨后漏雨积水，教室陈旧，课桌椅已经破旧的不成样子。袁辉老师说，现在学校学生越来越少，五六年级一个班还有20来个人，到了2年级12个学生，一年级就只有7个学生了。这是让大家都担忧的问题。</p>
 <p class="duan"> 残疾学生田艳青，因为身体条件的不足，无法和同伴同学们一起上课，袁老师每周都会抽两个下午的时间，骑摩托车十多公里去学生家上课，保证她在学习进度上不落后于同年级的同学，这样的走教坚持两个年头；他从教育部门微薄的补贴中拿出部分资助了清太坪民族中学的两名孤儿；平时除了教白沙坪小学两个年级的数学课与部分诗词课外，周末仍赶到清太坪民族小学上音乐课与书法诗词课。</p>
 <p class="duan">9月22日，TCL公益基金会执行理事长魏雪与志愿者们一起来到了湖北龙舟坪镇宝箭山小学。已经有16个工作年头的徐长刚是龙舟坪镇宝箭山小学的校长，作为“TCL希望工程烛光奖”引领奖得主，他最大的心愿是成为一个充满智慧的校长。刚从教时，徐老师主抓学习成绩，工作多年后，发觉学校的德智教育对学生影响更为深远。“尊重每一个人，使每一个人都有发展的可能；关注每一个人，使每一个人都有成功的可能。”这是宝箭山小学校长徐长刚的办学理念。在校期间，徐老师提出“跳出教育办教育”的思路，充分利用社会资源，较大程度改善了学校设施条件，贫困学生得到了更多的关爱，学校的办学水平也一年比一年高。</p>
 <p class="duan">宝箭山小学学前班现有32个孩子，其中留守儿童有15个，单亲孩子2个，目前因为学校活动设施欠缺，孩子们课外除了看看电视，做做游戏，看看书以外，再也没有其他很好的活动方式，孩子们快乐活动、快乐成长都受到了限制。孩子们目前的活动场地就是一块70几平方米的水泥地面，活动非常不安全。遇到雨天、雪天孩子们就只能待在教室里。徐老师特别希望为孩子们在户外建立一个游乐场。TCL公益基金会执行理事长魏雪在得知徐老师的需求后，个人为学校捐赠了宝箭山小学儿童乐园，今年9月开学之后，儿童乐园已然成为孩子们下课最喜欢的地方。而这次玫瑰回访，魏雪女士专程来到学校，为宝箭山小学的孩子们送上了爱的祝福：希望宝箭山小学的孩子们能在设施完善的校园中健康成长，得到全面发展。</p>
 <p class="duan">“特别感谢魏雪女士，学校儿童乐园会是孩子们一辈子快乐的开始。“对于获得烛光奖的改变，徐校长说，这个奖项增加了他的自信，在培训之后也将自己的心得分享给了学校的老师们，共同进步。之后会以奖项归零的心态，继续为学生们创造一个更好的学习环境和氛围，让学校的老师和同学们都得到精神的鼓励和成长，这才是更长久的发展之道。</p>
 <p class="duan">乡村教育事业的发展和推动，离不开可敬的乡村教师。“TCL希望工程烛光奖”的设定，正是针对乡村教师的个人发展提供帮扶，第二届“TCL希望工程烛光奖”增设先进奖与引领奖，表彰探索教学创新改革，使用先进教学理念与在学校管理、服务和校园构建中作出特殊贡献的乡村教师。通过烛光奖的平台，向公众展示扎根贫困地区老师的师德风貌与职业梦想；帮助乡村教师解决生活困难、职业瓶颈和技能提升，有效改良乡村教育质量；更深层次地关注他们对乡村基础教育发展的努力和追求，鼓励更多的青年优秀教师服务广大的农村地区。</p>
 <p class="duan">在玫瑰回访中，我们也了解到政府出台的《乡村教师支持计划（2015-2020年）》，计划中明确提出了多项对乡村教师的支持计划，已经在实施中，我们看到国家对农村教育的高度重视，同时，也激励更多社会力量投入到乡村教育公益事业。“TCL希望工程烛光奖”也会继续表彰和鼓励优秀乡村教师，为他们创造更好的教学和生活条件，并帮助他们提升教学技能、提供学习和交流机会，探索建立一个开放的乡村教师帮扶平台，更大发挥企业公益的价值，以企业之善带动社会之善，改善乡村教师的生存环境与发展空间，为乡村教育事业发展贡献更多力量，推动公益力量的成长和良性发展。
</p>
</div>			
    <!--<div class="contaier"><div id="pager"></div></div>-->
       
		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
    <script type="text/javascript" src="/static/js/core/about.js"></script>
    <script type="text/javascript" src="/static/js/core/jquery.pager.js"></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function() {
            $("#pager").pager({ pagenumber: 1, pagecount: 3, buttonClickCallback: PageClick });
        });

         function PageClick(pageclickednumber) {
            $("#pager").pager({ pagenumber: pageclickednumber, pagecount: 3, buttonClickCallback: PageClick });
        }
       
    </script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>