<!DOCTYPE html>
<html>
<head>
	<!--社会责任-->
	<meta charset="UTF-8">
	<title>TCL官方网站</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span  class="shoping">&#xe60c;</span>
						<span class="admin">&#xe624;</span>
						<span class="sear">&#xe614;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<!-- channel html start -->
	<div class="box relative">
		<div class="absolute sosial-text">
			<p class="font">企业社会责任</p>
			<p>未来，TCL将更加坚定信心，更好的承担对利益相关</p>
			<p>的责任，为全社会提供更好更多的产品与服务，为社会稳定、经济发展</p>
			<p>做出贡献。公司将与各方更加紧密的合作，携手共进，成为“可持续发展”的中坚力量。</p>
		</div>
		<div><img src="/static/img/social01.jpg" /></div>
	</div>
	<!-- channel html end -->
	<!-- social responsibility html start -->
	<!-- 企业公民活动 -->
	<div class="sosial-box">
		<div class="title pr">企业公民活动<p class="border_botm pa"></p></div>  
	  <div class="sosial-list">
			<dl>
				<dt class="fl"><a href="TCL企业公民行动详情.html" target="_blank"><img src="/static/img/sosialItem01.jpg" /></a></dt>
				<dd class="fr">
					<div class="font">TCL志愿者协会年会优秀志愿者召开</div>
					<p class="content">12月5日，第30个国际志愿者日来临之际，第一届TCL志愿者协会年会暨优秀志愿
						者表彰大会召开。对一年来表现突出的TCL优秀志愿者团体及个人进行表彰。会后，
						志愿者团队组织开展TCL“戈行西湖•公益寻宝”户外历奇公益拓展活动，在身体行
						走的艰辛中志愿者们坚定志愿理想与信念。
					</p>
					<a class="more" href="TCL企业公民行动详情.html" target="_blank"> 了解更多>> </a>
				</dd>
			</dl>
			<dl>
				<dt class="fl"><a href="TCL企业公民行动详情2.html" target="_blank"><img src="/static/img/sosialItem02.jpg" /></a></dt>
				<dd class="fr">
					<div class="font">云南慈善总会牵手中国500强民企资助武定敬老院</div>
					<p class="content">据中国民营企业联合会、中国管理科学研究院企业研究中心联合组织的2015年中国民
						营500强企业排行榜发布信息显示，TCL集团股份有限公司在500强企业中排行居15位。
						11月25日，云南省慈善总会牵手TCL集团在武定县猫街镇敬老院举行“扶贫惠民工程启
						动仪式”。云南省慈善总会秘书长李勇、武定县政府副县长黄玉梅出席了当天的活动。
					</p>
					<a class="more" href="TCL企业公民行动详情2.html" target="_blank"> 了解更多>> </a>
				</dd>
			</dl>
			<dl>
				<dt class="fl"><a href="TCL企业公民行动详情.html" target="_blank"><img src="/static/img/sosialItem03.jpg" /></a></dt>
				<dd class="fr">
					<div class="font">华萌基金·华罗庚中学2015“华萌班”新生见面会召开</div>
					<p class="content">10月24日，华萌基金·惠州华罗庚中学2015“华萌班”新生见面会召开，华萌基金秘
						书长 黄开莉、华罗庚中学校长黄进添 、华萌基金副秘书长 刘磊、TCL集团财务管理
						中心总经理杨安明、华罗庚中学党委委员、教学管理部部长蓝世剑参加出席。杨安明
						作为此次“华萌星课堂”导师，为华罗庚中学“华萌班”高一新生带来“我的青春故事”
						主题分享，为华萌学生传播正能量。
					</p>
					<a class="more" href="TCL企业公民行动详情.html" target="_blank"> 了解更多>> </a>
				</dd>
			</dl>
			<div class="see-more"><a href="TCL企业公民行动.html" target="_blank">查看更多>></a></div>
		</div>
	</div>

	<!-- 华萌基金 -->
	<div class="box marTop fund">
		<div class="sosial-box">
			<p class="hyjj_title"><a>华萌基金</a><a>志愿者风采</a></p>
          <div class="hyjj" id="zyz_1">
             <ul>
             <li><a href="TCL华阴基金内容.html" target="_blank">2015长江商学院大理公益徒步行</a> <i>2015-12-21</i></li>
             <li><a href="TCL华阴基金内容.html" target="_blank">致“TCL希望工程烛光奖”之“玫瑰回访”湖北站烛光老师</a> <i>2015-09-23</i></li>
             <li><a href="TCL华阴基金内容.html" target="_blank">湖北夷陵中学“华萌班”新生见面会暨华萌星课堂开课 </a> <i>2015-09-22</i></li>
             <li><a href="TCL华阴基金内容.html" target="_blank">王治郅加盟“华萌星课堂”导师团--云南大理一中“华萌基金·华萌班”2015新生见面会暨华萌星课堂开课 </a><i>2015-09-14</i></li>
             <li><a href="TCL华阴基金内容.html" target="_blank">潜心培养人才 华萌奠基梦想--第二届华萌基金·惠州四中“高君昭奖教奖学金”名单揭晓 </a> <i>2015-09-07</i></li>
             </ul>
             <div class="seemore white"><a href="TCL华萌基金详情.html" target="_blank">查看更多>></a></div>
            </div>
          <div class="hyjj" id="zyz_2" style="display:none;">
            <ul>
             <li><a href="TCL志愿者风采内容.html" target="_blank">TCL空调器：青年志愿者服务队</a> <i>2014-11-03</i></li>
             <li><a href="TCL志愿者风采内容.html" target="_blank">TCL多媒体：志愿者服务队</a> <i>2015-08-10</i></li>
             <li><a href="TCL志愿者风采内容.html" target="_blank">华星光电：义工服务队</a> <i>2013-11-17</i></li>
            </ul>
             <div class="seemore white"><a href="TCL志愿者风采.html" target="_blank">查看更多>></a></div>
            </div>
			
	  </div>
	</div>

	<!-- 企业公民活动 -->
	<div class="box">
		<div class="sosial-box">
			<div class="title pr">企业社会责任报告 <p class="border_botm pa"></p></div>
			<div class="social-blame">
				<dl>
					<dt class="fr"><img src="/static/img/sosialItem04.jpg" /></dt>
					<dd class="fl">
						<p class="content">TCL始终秉承“为社会承担责任，做优秀企业公民”的理念，三十余年来，在推动企业持续成长和发展的同时，积极承担社会责任，在生态环境保护、教育事业发展、文体事业推动和社会公益普及等方面坚持深入探索。截至目前，企业及员工向社会捐赠现金和物资累计超过两亿元人民币。<br /><br />

TCL集团坚守企业社会责任主要包含以下五个方面：<br />

一、对用户的责任
用户是TCL生存和发展的根本条件，TCL充分发掘并认真满足用户需求，为自身和社会创造经济效益和社会效益。在崭新的转型时期，TCL着重致力于用互联网思维重新构建业务流程，以经营用户为中心，提升业务速度、效率和竞争力，降低成本，提高用户满意度，为他们提供源源不断的极致体验的产品与服务，并持续创造价值。<br /><br />

二、对股东的责任
股东是TCL快速发展的重要推动力，TCL基于股东的信任获得发展基金，并根据资本市场要求不断优化公司治理，实施全面创新。TCL严格遵守各项法律及制度规范，依照现代企业治理结构和管理要求，完善制定及修订有关规章制度，建立健全了保护股东机制、防止大股东违规占用资金的长效机制、投资者关系管理机制和信息披露制度。<br /><br />

三、对员工的责任
三十多年的发展中，TCL不断完善人才培养和管理体系，吸纳多元人才，提供有保障的福利和均等发展机会。TCL集团全面建立鹰之系列人才培养体系，通过“雄鹰”、“精鹰”、“飞鹰”与“雏鹰”之间的层层辅导和交叉辅导，加强管理者与员工之间的交流和互动，并形成扎实的知识体系和团结协同的工作能力，锻造各领域高端人才。<br /><br />

四、对环境的责任
作为国内最大的家电制造厂商之一，TCL在产品的环保控制、节能降耗等方面走在行业前列。近几年，TCL集团开发设计的产品始终贯彻产品低能耗、低排放的创新理念，同时建立了完善的环境管理系统，并持续不断进行优化。<br /><br />

五、热忱公益慈善事业
TCL集团在促进基础教育事业发展和社会公益普及等方面不遗余力。2004年，TCL集团捐资2600万设立希望工程基金，三年内在全国贫困地区建设50所希望小学；2007年， TCL集团董事长李东生及夫人魏雪捐资创立中国第一个企业家公益基金“华萌基金”，开创的“华萌班“助学模式已经在惠州、云南、湖北资助了共500名家庭贫困但品学兼优的学生，累计投入资金达8000多万。为更专业有效地开展公益活动，2012年6月，TCL公益基金会成立，在基础教育帮扶方面重点针对乡村教师进行资助。2013年10月， TCL公益基金会联合中国青少年发展基金会，启动“TCL希望工程烛光奖”，项目计划连续五年共投入2500万元，用于表彰和鼓励坚守在一线爱岗敬业严守师道的优秀乡村教师。2014年5月，“TCL希望工程烛光奖”颁奖典礼在北京举行，全国300位优秀乡村教师受到表彰，每位教师获得1.2万元的奖金和为期三个月的远程培训。<br /><br />

未来，TCL集团仍将一如既往地积极承担企业社会责任，致力于成为消费电子行业的优秀企业公民。<br />
						</p>
					</dd>
				</dl>
                <a class="seemore" href="TCL社会责任报告.html" target="_blank"> 查看更多 >> </a>
			</div>
		</div>
	</div>
	<!-- tcl 公益基金 -->

			<div class="fund-item">
                <div class="contaier">
                <h4 class="fund-title">TCL公益基金</h4>
				<p>2012年6月，由TCL集团董事长兼CEO李东生发起的深圳市TCL公益基金会正式注册成立，这是中国消费电子行业第一家公益基金会。<br />
基金会原始基金为1000万元，由TCL集团一次性捐赠。“追求公共利益，推动社会进步”是TCL公益基金会的价值观，并秉持“为弱<br />
势群体创造教育和成长机会，谋求社区福祉及环境可持续发展”的宗旨，并在基础教育帮扶、重大灾害救助、特殊群体关怀三大公益<br />
领域积极探索。</p>
           <div class="see-more"><a href="http://gyjj.tcl.com/" target="_blank">查看更多>></a></div>
           </div>
		   </div>


	<!-- TCL希望工程烛光奖 -->
	<div class="box">
		<div class="sosial-box marTop">
			<div class="award">
				<div class="font pr">TCL希望工程烛光奖 <p class="border_botm01 pa"></p></div>              
			  <div class="content">
					“TCL希望工程烛光奖”由深圳市TCL公益基金会和中国青少年发展基金会联合发起，项目计划五年投入2500万元，用于表彰和鼓励坚守在一线爱岗敬业严守师道的优秀乡村教师,从而改善
					乡村基础教育师资力量匮乏的现状。<br /><br />
					2013年10月，TCL希望工程烛光奖项目正式启动，面向全国600多个国家级贫困县，经过历时半年的初审、复核和终审，2014年5月，“TCL希望工程烛光奖”颁奖典礼在北京举行，全国
					300位优秀乡村教师受到表彰，每位教师获得1.2万元的奖金和为期三个月的远程培训。<br /><br />
					未来，TCL公益基金会还将寻求更广泛的合作，带动更多的爱心企业、个人和公益组织一起携手，围绕乡村教师，提供全方位的支持。同时，借助新媒体等新兴技术手段，聚合社会大众力
					量，引发社会公众对乡村教师持续性的关注与支持，不断改善乡村教师生存现状，为促进中国农村基础教育事业的发展贡献力量。
				</div>
                <div class="see-more"><a href="http://gyjj.tcl.com/frmsubject.aspx" target="_blank">查看更多>></a></div>
			</div>
			
		</div>
	</div>

	<!-- social responsibility html end -->
	<!-- Help center html start -->
	<div class="help">
		<div class="min-wid">
			<dl>
				<dt>特色服务</dt>
				<dd><a target="_blank"  href="#">T码检测通道</a></dd>
				<dd><a target="_blank"  href="#">T码专属通道</a></dd>
				<dd><a target="_blank"  href="#">全场包邮</a></dd>			
				<dd><a target="_blank"  href="#">全国联保</a></dd>
			</dl>	
			<dl>
				<dt>帮助中心</dt>
				<dd><a target="_blank"  href="#">购物指南</a></dd>
				<dd><a target="_blank"  href="#">支付方式</a></dd>
				<dd><a target="_blank"  href="#">配送方式</a></dd>
			</dl>
			<dl>
				<dt>服务支持</dt>
				<dd><a target="_blank"  href="#">售后服务</a></dd>
				<dd><a target="_blank"  href="#">自助服务</a></dd>
				<dd><a target="_blank"  href="#">服务网点</a></dd>
			</dl>
						
			<dl>
				<dt>关于TCL</dt>
				<dd><a target="_blank"  href="#">了解TCL</a></dd>
				<dd><a target="_blank"  href="#">人才招聘</a></dd>
				<dd><a target="_blank"  href="#">联系我们</a></dd>
			</dl>
			<dl>
				<dt>关注我们</dt>				
				<dd><a target="_blank"  href="#">铁粉社区</a></dd>
				<dd><a target="_blank"  href="#">新浪微博</a></dd>
				<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
			</dl>
			<dl>
				<dt>线下网点</dt>
				<dd><a target="_blank"  href="#">线下网点</a></dd>
				<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
			</dl>		

			<dl class="last-r">
				<p class="red phone">400-712-3456</p>
				<p class="grey">（24小时在线，仅收市话费）</p>
				<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
				<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
			</dl>
		</div>
	</div>
	<!-- Help center html end -->
	<!-- footer html end -->
	<div class="footer">
		<div>
			<div class="foot-logo"><img src="/static/img/logo.png" /></div>
			<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
			<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
			<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
		</div>
	</div>
	<!-- footer html end -->
	<!-- Right slide bar html start -->
	<div class="mask"></div>
	<div class="slidebar">
		<!-- Shopping Cart html start -->
		<div class="cart">
			<h3 class="cart-head">
				<span class="close">&#xe60f</span>
				<div class="black"><span class="shoping"></span>我的购物车</div>
			</h3>
			<div class="cart-list">
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<div class="paging"><span class="active">1</span><span>2</span><span>3</span><span>4</span></div>
			</div>
			<div class="cost">
				<p class="red">￥1562.00</p>
				<p class="black">总价（不含运费）</p>
				<button class="buy">马上购买</button>
			</div>
		</div>
		<!-- Shopping Cart html end -->
		<!-- Registration html start -->
		<div class="regist">
			<h3>
				注册
			</h3>
			<div class="login-inp">
				<div><input type="text" placeholder="手机或邮箱"/></div>
				<div class="verify"><input type="text" placeholder="图片验证码"/><span><img src="/static/img/verify.gif" /></span></div>
				<div><input type="text" placeholder="密码6~16位，数字/字母/字符至少两种"/></div>
				<div><input type="text" placeholder="确认密码"/></div>
				<p class="grey">注册TCL，即表示同意TCL的用户协议。</p>
				<div><button class="buy">注册</button></div>
				<p class="login-text"><span class="fr regis">注册</span></p>
			</div>
		</div>
		<!-- Registration html end -->
		<!-- login html start -->
		<div class="login">
			<h3>
				<img src="/static/img/admin.png" />
			</h3>
			<div class="login-inp">
				<div class="uname"><input type="text" placeholder="手机、邮箱或用户名" /></div>
				<div class="upas"><input type="text" placeholder="密码"/></div>
				<div class="ulog"><button class="buy">登录</button></div>
				<p class="login-text"><span class="fl"><i>&#xe60b</i>忘记密码</span><span class="fr log">注册</span></p>
			</div>
		</div>
		<!-- login html end -->
	</div>
	
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript" src="/static/js/core/loadPlate.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/comm.js"></script>
<script type="text/javascript" src="/static/js/core/about.js"></script>
</body>
</html>