<div class="nav channel-nav">
    <div class="nav-bar">
        <div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
        <div class="hea-box hot"></div>
        <div class="saerch">
            <input type="text" name="aaa" class="nav-saerch" />
            <div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
        </div>
        <div class="fr">
            <div class="menu">
                <!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
                <div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
                <div class="sj"><a href="#" >手机</a><i></i></div>
                <div class="kt"><a href="#" >空调</a><i></i></div>
                <div class="bx"><a href="#" >冰箱</a><i></i></div>
                <div class="xij"><a href="#" >洗衣机</a><i></i></div>
                <div class="jk"><a href="#" >健康电器</a><i></i></div>
                <div class="fw"><a href="#" >服务</a><i></i></div>
                <div class="sq"><a href="#" >社区</a><i></i></div>
            </div>
            <div class="nav-r fl">
                <span class="sear">&#xe632;</span>
                <span  class="shoping">&#xe639;</span>
                <span class="admin">&#xe638;</span>
            </div>
        </div>
    </div>
    <div class="menu-list">
        <div class="ds">
            <ul>
                <li>
                    <a href="#"><img src="/static/img/nav1.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav2.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav3.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
            </ul>
        </div>
        <div class="sj">
            <ul>
                <li>
                    <a href="#"><img src="/static/img/nav1.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav2.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
            </ul>
        </div>
        <div class="kt">
            <ul>
                <li>
                    <a href="#"><img src="/static/img/nav1.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav2.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav3.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav4.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
                <li>
                    <a href="#"><img src="/static/img/nav5.jpg" />
                        <span>艺术柜机空调</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>