<!DOCTYPE html>
<html>
<head>
	<!--关于TCL-->
	<meta charset="UTF-8">
	<title>关于TCL</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div id="headerContainer" class="header head-channel">

	</div>
	<!-- Top html end -->
	<div class="about_TCL_top2 ">
		<div class="about_TCL_nav2">
			<ul>
				<li><a href="about_tcl.html" class="hover">关于TCL</a></li>
				<li><a href="co_architecture.html">公司架构</a></li>
				<li><a href="technology_development.html" >技术研发</a></li>
			</ul>
		</div>
		<div class="li_kouhao2">
			<p class="f38"><span>The Creative life</span></p>
			<p class="f32 pt20"><span>创意感动生活</span></p>
			<p class="f20 pt20">TCL集团股票代码</p>
			<p class="f20">000100.SZ</p>
		</div>
	</div>
	<div class="li_guanyu_1_b">
				<div class="li_guanyu_1">
						<div class="title">关于TCL</div>
						<div class="line"></div>
						<p class="li_jieshao f14">TCL即 the creative life 三个英文单词首字母的缩写，意为创意感动生活。<br><br>

				公司创立于1981年，前身为中国首批13家合资企业之一——TTK家庭电器（惠州）有限公司，从事录音磁带的生产制造，后来拓展到电话、电视、<br><br>

				手机、冰箱、洗衣机、空调、小家电、液晶面板等领域。集团现有7.5万名员工，23个研发机构，21个制造基地，在80多个国家和地区设有销售机<br><br>

				构，业务遍及全球160多个国家和地区。</p>
						<p class="f14 f_center pt20"><a href="TCL简介详情页.html" target="_blank">查看更多</a></p>
	  </div>
                <div class="li_guanyu_zhici">
							<div class="zhichi_left"></div>
							<div class="li_zhici">
								<div class="li_zhici_top">
									<div class="title">董事长致辞</div>
									<div class="line"></div>
								</div>
								<p class="li_zhici_con">这是一个充满机遇和挑战的时代，风起云涌的智能化及互联网大潮带来广阔的<br />

														商业前景，我们的产品形态、商业模式、经营理念、组织架构等都将经历转型<br />

														的重大考验，也终将被重新定义。这是一个必须变革和重构的时代，经营环境<br />

														正在快速改变，商业模式加速革新，如果不能加快企业转型，发现和抓住新的<br />

														产业和市场机会，构建起新的能力，未来将会危机四伏。
								</p>
								<a href="chairman_speech.html" target="_blank" class="f14 zc_seemore">查看更多 >></a>
							</div>
	  </div>
						<div class="li_about_f">
							<div class="title">发展历程</div>
							<div class="line"></div>
							<ul class="wrap">
								<li class="first"></li>
								<li class="left">
									<div class="chat">
									<p>TCL创立于1981年，经过三十多年的发展，TCL借中国改革开放的东风，
		秉承敬业奉献、锐意创新的企业精神，从无到有，从小到大，迅速发展成
		为中国电子信息产业中的佼佼者。</p></div>
								    <div class="dot f20">
								    	■
								    </div>
								    <div class="year">1981</div>
								</li>
								<li class="right">
									<div class="chat"><p>TCL集团发布公告，2012年度LCD电视销量1578.10万台，跻身全球彩
		电三强，这也是中国彩电企业首次冲入全球液晶彩电第一阵营。</p></div>
								    <div class="dot f32">■</div>
								    <div class="year">2012</div>
								</li>
								<li class="left">
									<div class="chat"><p>近期，TCL将原有的“5+5”产业结构正式调整为新的“7+3+1”结构，
		即产品业务领域，服务业务领域以及创投及投资业务三大业务领域，
		“7+3+1”十一个业务板块。</p>
		</div>
								    <div class="dot f38">■</div>
								    <div class="year">2015</div>
								</li>
							</ul>
							<p class="f_center pt30"><a href="TCL发展历程详情页.html" target="_blank" class="f14">查看更多 >></a></p>
						</div>
	</div>

	<div class="li_about_q">
		<div class="li_about_q_top">
			<div class="title">企业理念</div>
			<div class="line"></div>
		</div>
		<ul class="li_about_q_tab">
			<li>
			<a class="hover">
				<img src="/static/img/li_jiagou_ren.png" alt="业务群图标">
			</a>
			<P class="a">企业精神</P>
			<p class="b">敬业，诚信，团队，创新<br>
为用户提供极致体验的产品与服务</p>
			</li>
			<li>
			<a class="hover">
				<img src="/static/img/li_guanyu_f1.png" alt="业务群图标">
			</a>
			<P class="a">企业使命</P>
			<p class="b">为用户创造价值、 为员工创造机会<br>
为股东创造效益、 为社会承担责任</p>
			</li>
			<li>
			<a class="hover">
				<img src="/static/img/li_guanyu_f2.png" alt="业务群图标">
			</a>
			<P class="a">企业价值观</P>
			<p class="b">诚信尽责。用户至上，<br>
 开放创新，合作分享 。</p>
			</li>
			<li class="none">
			<a class="hover">
				<img src="/static/img/li_guanyu_f3.png" alt="业务群图标">
			</a>
			<P class="a">经营策略</P>
			<p class="b">强化互联网应用服务能力提升<br>
技术能力工业能力，全球化能力</p>
			</li>
		</ul>
	</div>

	<div class="li_about_f">
								<div class="title">企业荣誉</div>
								<div class="line"></div>
								<ul class="wrap_2">
								<li>
								<img src="/static/img/li_guanyu_tu1.jpg" alt="企业荣誉">
								<p class="t">2014 _______</p>
								<p>
									荣获“2013-2014全球消费电子50强”<br>
									荣获2014 IFA展“量子点显示技术金奖”<br>
									中国消费电子领先品牌TOP10”
								</p>
								</li>
								<li>
								<img src="/static/img/li_guanyu_tu2.jpg" alt="企业荣誉">
								<p class="t">2013 _______</p>
								<p>
									荣获“2013年度创新营销杰出案例奖”<br>
									荣获“2013年度中国娱乐营销案例TOP10”<br>
									中国管理模式杰出奖理事会颁发的“研发创新奖”
								</p>
								</li>
								<li class="none">
								<img src="/static/img/li_guanyu_tu3.jpg" alt="企业荣誉">
								<p class="t">2012 _______</p>
								<p>
									被评为“全球竞争力品牌•中国TOP10、最具绿色竞争力品牌”<br>
									集团董事长李东生被评为“中国手机十大风云人物”<br>
									集团荣获“亚洲最佳雇主品牌奖”
								</p>
								</li>
								</ul>
								<p class="f_center pt30"><a href="TCL企业荣誉.html" target="_blank" class=" f14">查看更多 >></a></p>
	</div>
	<div class="li_guanli">
	    <div class="title">管理团队</div>
		<div class="line"></div>
		<ul class="li_guanli1">
			<li class="hover">
			<div class="guanli_des" id="tfn_1">
			<p class="other"><span>董事长兼CEO 李东生</span>
			李东生，现任本公司董事长兼CEO、集团党委书记，公司创始人<br />之一。
中共十六大代表，第十届、第十一届和第十二届全国人...</p>
			<a href="TCL高层管理-lds.html" target="_blank">了解更多</a></div>
		    </li>
		   <li>
           <div class="guanli_des" id="tfn_2">
			<p><span>总裁 薄连明</span>
            现任本公司执行董事、总裁<br />（COO）、华星光电CEO。<br />1963年4月出生...</p>
			<a href="TCL高层管理-blm.html" target="_blank">了解更多</a></div>
			</li>
			<li class="none">
			<div class="guanli_des" id="tfn_3">
			<p><span>CFO 黄旭斌</span>
			现任本公司执行董事、CFO。<br />1965年11月生，研究生毕业，<br />经济学硕士，财政部研究...</p>
			<a href="TCL高层管理-hxb.html" target="_blank">了解更多</a></div>
            </li>
			<li>
           <div class="guanli_des" id="tfn_4">
			<p><span>高级副总裁 郭爱平</span>
            现任本公司执行董事、高级副<br />总裁、TCL通讯科技控股有限<br />公司CEO。 1963年6月生...</p>
			<a href="TCL高层管理-gap.html" target="_blank">了解更多</a></div>
			</li>
			<li>
           <div class="guanli_des" id="tfn_5">
			<p><span>TCL集团执行董事 吴士宏</span>
            现任TCL集团执行董事、A8<br />新媒体集团有限公司<br />非执行独立董事...</p>
			<a href="TCL高层管理-wsh.html" target="_blank">了解更多</a></div>
			</li>
			<li>
           <div class="guanli_des" id="tfn_6">
			<p><span>CTO 闫晓林</span>
            现任本公司CTO。1966年11月出生，博士，毕业于中国科学院等离子体物理研究所...</p>
			<a href="TCL高层管理-yxl" target="_blank">了解更多</a></div>
			</li>
			<li class="none">
			<div class="guanli_des" id="tfn_7">
			<p><span>高级副总裁 黄伟</span>
			现任TCL集团高级副总裁、党委副书记。 1963年10月生，工商管理硕士...</p>
			<a href="TCL高层管理-yxl.html" target="_blank">了解更多</a></div>
            </li>
		</ul>

	</div>


	<div id="footerContainer">

	</div>



	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<!--<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript" src="/static/js/core/about.js"></script>>
	<script type="text/javascript">
		plugin.init();
	</script>-->
	<script id="currentPage" data-targetpage="about_tcl" src="/static/js/lib/require.min.js" data-main="/static/js/main.js"></script>
</body>
</html>