<!DOCTYPE html>
<html>
<head>
	<!--TCL董事长致辞-->
	<meta charset="UTF-8">
	<title>TCL简介详情页</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div id="headerContainer" class="header head-channel">

	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于TCL > 公司介绍 > <span>董事长致辞</span></p>
		</div>
	</div>	
	<div class="about_content">	
        <h4 class="maintitle">转型创新 面向未来</h4>    
		<p class="dsz_speech">
                <span class="img"><img src="/static/img/lds.jpg" alt="公司展示图片"> </span>
				这是一个充满机遇和挑战的时代，风起云涌的智能化及互联网大潮带来广阔的商业前景，我们的产品形态、商业模式、经营理念、组织架构等都将经历转型的重大考验，也终将被重新定义。<br />
				这是一个必须变革和重构的时代，经营环境正在快速改变，商业模式加速革新，如果不能加快企业转型，发现和抓住新的产业和市场机会，构建起新的能力，未来将会危机四伏。<br />
                
				如果把近几年TCL的国际化探索看作是被动适应国际化带来的冲击和挑战，那么，从现在开始，我们就已经进入到一个主动谋划国际化未来发展目标和任务的新阶段。我们将站在新的历史起点上，力争将TCL建成一个富有竞争力的国际化企业！<br />
				在未来两到三年TCL发展的总体战略思路中，我们要固本强基、持续创新，实现新跨越。"固本强基"， 就是要巩固基础管理之根本，强化核心能力之根基；"持续创新"，就是要以技术、流程和文化的变革突破，将企业的经营管理水平提升到国际化要求的新高度。<br />
				TCL怀揣“实业报国”的坚定理想，在过往三十余年的发展历程中，通过坚持不懈的国际化探索、持续创新的变革突破和百折不挠的奋勇拼搏，收获了丰硕的成果。当下，成长在互联网时代，我们需要探寻企业发展的新路径，而真正的“颠覆”就是思维的转变，从过去以经营产品为中心转向以经营用户为中心。<br />
			    “双+”转型战略的践行将是TCL未来工作的重心，我们要勇于打破原有的商业体系，按照互联网思维进行经营观念重构、业务重构和组织重构，推进“智能+互联网“战略转型，建立”产品+服务“商业模式。<br />
				我们相信，具备变革创新和企业家精神的TCL人，一定能够完成这次自我超越，通过颠覆式的创新，为企业注入源源不断的生命力。未来，我们会以用户为中心，构建面向未来的经营体系，实现战略转型，为用户提供极致体验的产品与服务，让生活更精彩！
		</p>
        <div class="about_speech">
           <div class="speech_left"><a href="http://weibo.com/lidongsheng?topnav=1&wvr=5&topsug=1&is_all=1" target="_blank" class="weibo"><img src="/static/img/weibo.png" width="48" height="38"></a><a href="http://weibo.com/lidongsheng?topnav=1&wvr=5&topsug=1&is_all=1" target="_blank" class="attentio">添加关注李东生微博</a></div>
          <div class="speech_right"><img src="/static/img/ceo_name.jpg" width="160" height="60">TCL集团股份有限公司董事长兼CEO</div>
        </div>
	</div>	
		
    <div id="footerContainer">

	</div>
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<!--<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript">
		plugin.init();
	</script>-->
	<script id="currentPage" data-targetpage="chairman_speech" src="/static/js/lib/require.min.js" data-main="/static/js/main.js"></script>

</body>
</html>