<!DOCTYPE html>
<html>
<head>
	<!--TCL公司架构-->
	<meta charset="UTF-8">
	<title>公司架构</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div id="headerContainer" class="header head-channel">

	</div>
	<!-- Top html end -->
	<div class="about_TCL_top">
		<div class="about_TCL_nav">
			<ul>
				<li><a href="about_tcl.html">关于TCL</a></li>
				<li><a href="co_architecture.html" class="hover">公司架构</a></li>
				<li><a href="technology_development.html" >技术研发</a></li>
			</ul>
		</div>
		<div class="li_kouhao">
			<p>加速推进<span>“智能＋互联网”</span></p>
			<p>建立<span>“产品和服务”</span>新商业模式</p>
		</div>		
	</div>
	<div class="li_jiagou_z">
			<ul>
				<li>
				<a href="#1">
					<div class="con">
						<div class="one"><p>7</p></div>
						<div class="line"></div>
						<div class="two"><p>产品业务领域</p></div>
					</div>
				</a>
				</li>
				<li>
				<a href="#2">
					<div class="con">
						<div class="one"><p>3</p></div>
						<div class="line"></div>
						<div class="two"><p>服务业务领域</p></div>
					</div>
				</a>
				</li>
				<li class="con none">
				<a href="#3">
					<div class="con">
						<div class="one"><p>1</p></div>
						<div class="line"></div>
						<div class="two"><p>创投投资业务</p></div>
					</div>
				</a>
				</li>
			</ul>
		</div>
	<div class="li_jiagou_1">
		<div class="title">产品业务领域</div>
		<div class="line"></div>
		<ul>
			<li>
				<div class="li_pos_b">
					<img  src="/static/img/li_jiagou_tu1.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li>
				<div class="li_pos_b">
					<img  src="/static/img/li_jiagou_tu2.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li>
				<div class="li_pos_b">
					<a href="" target="_blank"><img  src="/static/img/li_jiagou_tu3.jpg" alt="架构图片"></a>
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li class="no-right">
				<div class="li_pos_b ">
					<img  src="/static/img/li_jiagou_tu4.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li class="ma156 mt14">
				<div class="li_pos_b">
					<img  src="/static/img/li_jiagou_tu5.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li class="mt14">
				<div class="li_pos_b">
					<img  src="/static/img/li_jiagou_tu6.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
			<li class="mt14">
				<div class="li_pos_b">
					<img  src="/static/img/li_jiagou_tu7.jpg" alt="架构图片">
					<div class="li_pos"><p>1070HK<br>TCL多媒体电子</p></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="li_jiagou_2">
		<div class="li_jiagou_2_top">
			<div class="title">服务业务领域</div>
			<div class="line"></div>
		</div>
		<ul class="li_jiagou_2_tab">
			<li>
			<a href="Javascript: void(0)" class="hover">
				<img src="/static/img/li_jiagou_ren.png" alt="业务群图标">
			</a>
			<P>销售物流服务业务群</P>
			</li>
			<li>
			<a href="Javascript: void(0)">
				<img src="/static/img/li_jiagou_yun.png" alt="业务群图标">
			</a>
			<P>互联网应用服务业务群</P>
			</li>
			<li class="none">
			<a href="Javascript: void(0)">
				<img src="/static/img/li_jiagou_wen.png" alt="业务群图标">
			</a>
			<P>金融事业本部</P>
			</li>

		</ul>
		<div class="li_jiagou_2_con">
			<div>
				<div class="jiantou1"><img src="/static/img/li_jiagou_sanjiao.png" alt="业务群图标"></div>
				<ul>
					<li><a href="#">tcl教育网</a></li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
					<li>tcl教育网</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="li_jiagou_3">
		<div class="li_jiagou_3_top">
			<div class="title">创投投资业务</div>
			<div class="line"></div>
		</div>
		<p>TCL集团希望新的业务，能够加速推进“智能+互联网”转型战略<br>
和建立“产品+服务”新商业模式，更有效地建设和展示不同业务板块的价值，发挥产业协同效应。</p>
		
	</div>

	<div id="footerContainer">

	</div>
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script id="currentPage" data-targetpage="co_architecture" src="/static/js/lib/require.min.js" data-main="/static/js/main.js"></script>
</body>
</html>