<!DOCTYPE html>
<html>
<head>
    <!--TCL企业荣誉-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于首页 > 关于TCL > <span>企业荣誉</span></p>
		</div>
	</div>	
	<div class="about_content">
       <div class="honor_01">
	   <span class="title">2015年</span>
       <ul>
           <li>— TCL 量子点曲面电视获德国IFA展中国家用电器产品创新奖、2015CITE创新产品与应用金奖</li>
           <li>— TCL大眼.晶获德国IF红点设计大奖</li>
           <li>— TCL获 “广东省企业500强”，位列胡润品牌榜十大增值品牌企业第二名</li>
           <li>— TCL获中国社会工作联合会企业公民委员会、中央电视台财经频道、腾讯公益慈善基金会联合颁发的2015中国优秀企业公民</li>
           <li>— TCL获第六届“亚洲最佳雇主品牌奖”</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2014年</span>
       <ul>
           <li>— TCL荣获“2013-2014全球消费电子50强”， 连续六年入选“全球消费电子50强”和“中国消费电子领先品牌TOP10”，稳居中国电视品牌榜首</li>
           <li>— TCL获2014 IFA展“量子点显示技术金奖”</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2013年</span>
       <ul>
           <li>— TCL集团荣获“2013年度创新营销杰出案例奖”</li>
           <li>— TCL集团荣获“2013年度中国娱乐营销案例TOP10”</li>
           <li>— 在全国第35次质量管理小组代表会上，TCL集团荣获“质量标杆示范单位”及“全国质量管理小组活动优秀企业”两项荣誉称号</li>
           <li>— TCL集团获中国管理模式杰出奖理事会颁发的“研发创新奖”</li>
           <li>— TCL集团董事长李东生，被《福布斯》杂志中文版评为“2013中国50位最佳CEO”</li>
           <li>— 在第46届国际消费电子展（CES），TCL连续五年入选“全球消费电子50强”和“中国消费电子领先品牌10强”，并摘得重量级的单项产品大奖“年度智能云电视”，“全球电视品牌20强”
     的排名更是从去年的第六上升到第五，在中国电视品牌中名列第一</li>
           <li>— TCL集团领导力开发学院获“全球商学院TOP100”及“最佳成就奖”</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2012年</span>
       <ul>
           <li>— TCL品牌被评为“2012年全球竞争力品牌•中国TOP10、最具绿色竞争力品牌”</li>
           <li>— TCL集团董事长李东生在“2012年中国手机大赛颁奖盛典”被评为“中国手机十大风云人物”</li>
           <li>— TCL集团荣膺“亚洲最佳雇主品牌奖”</li>
           <li>— 在2012年（第八届）中国数字电视产业发展高峰论坛上，TCL一举拿下“2012年十佳平板电视”、“2012年中国平板电视节能之星TOP5”及“2012年消费者最喜爱平板电视品牌”三项
    大奖”</li>
           <li>— TCL被2012中国影响力峰会组委会评为“2012年度最受信赖企业”</li>
           <li>— TCL集团荣获“广东家电行业2012年度政府质量奖”</li>
           <li>— 在第45届国际消费电子展（CES）上，TCL集团荣膺“全球消费电子TOP50”、“全球电视品牌第六名”、和“中国消费电子领先品牌TOP10”，并且首次斩获 “年度智能云计算电视” 
    单项大奖</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2011年</span>
       <ul>
           <li>— 美国第四十四届国际消费电子展(CES)上，TCL年度创新产品智能互联网3D电视荣膺“2011CES全球年度品质平板电视”和“2011CES年度最佳全能3D电视”双项大奖。P6100系列摘得
   &quot;2010年度最佳满意度产品&quot;奖和&quot;先驱中国&quot;2010-2011年度最佳全能3D技术大奖</li>
           <li>— 在第44届国际消费电子展“全球消费电子50强”TCL名列第25位全球电视品牌第六</li>
           <li>— TCL荣获“中国最受尊敬企业.十年成就奖”</li>
           <li>— TCL在第五届“3·15可信赖品牌（产品）”荣获“2011年新消费放心品牌”大奖</li>
           <li>— TCL获认定首家国家级创新型企业</li>
           <li>— 在2011智能电视市场发展论坛“智能之炫视觉之妙”一举包揽了“最具影响力智能电视品牌”和“2011年最佳画质智能3D电视”双项大奖</li>
           <li>— TCL品牌在"2011中国最有价值品牌"评价中，品牌价值501.18亿元，居全国电视机制造业第一位</li>
           <li>— TCL液晶电视背光控制系统及方法获得中国专利金奖</li>
           <li>— TCL蝉联“ 2011年全球竞争力品牌 •中国TOP10”</li>
           <li>— 2011“最具影响力的25位企业领袖”评选揭晓国际化先锋TCL李东生获终身成就奖</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2010年</span>
       <ul>
           <li>— TCL集团入围"全球消费电子50强"，由2009年的第32位跃至26位</li>
           <li>— TCL 入选"全球电视机Top20 "榜单，连续四年入选"中国消费电子领先品牌TOP10"</li>
           <li>— TCL品牌荣获2009（第二届）中国品牌论坛"60年中国品牌形象奖"、"60年中国品牌十大经典案例"</li>
           <li>— TCL集团董事长李东生荣获"2009中国品牌功勋人物"</li>
           <li>— TCL品牌在"2010中国最有价值品牌"评价中，品牌价值458.08亿元，居全国电视机制造业第一位</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2009年</span>
       <ul>
           <li>— TCL集团荣获"2009中国慈善排行榜"十大慈善企业奖</li>
           <li>— TCL品牌获得"CCTV新中国建国60年60品牌"荣誉称号</li>
           <li>— TCL集团董事长李东生荣获CCTV 60年60品牌"中国品牌杰出贡献奖"</li>
           <li>— TCL品牌在"2009中国最有价值品牌"评价中，品牌价值417.38亿元，居全国电视机制造业第一位</li>
           <li>— TCL品牌荣获"中国品牌百强榜共和国60年最具影响力品牌60强"称号</li>
           <li>— TCL集团董事长李东生，当选中国经济百人榜共和国60年影响中国经济60人</li>
           <li>— TCL集团董事长李东生入选2009 CCTV"中国经济十年商业领袖人物"</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2008年</span>
       <ul>
           <li>— TCL荣获"改革开放三十周年广东企业管理创新杰出贡献企业"</li>
           <li>— TCL集团董事长李东生先生荣获德勤"中国企业全球化特别贡献奖"</li>
           <li>— TCL集团荣获"改革开放三十年广东省以质取胜企业"</li>
           <li>— TCL集团董事长李东生先生荣获"改革开放30周年广东省功勋企业家"荣誉称号</li>
           <li>— TCL品牌在"2008中国最有价值品牌"评价中，品牌价值408.69亿元,居电视机制造业第一位</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2007年</span>
       <ul>
           <li>— TCL越南有限公司荣获"2006年度越南最杰出、最优秀全外资企业（Foreign Direct Investment – 简称FDI）——金龙奖"称号</li>
           <li>— TCL荣列"2007年（第二十一届）中国电子信息百强企业"第6名</li>
           <li>— TCL集团董事长兼总裁李东生荣获2007芝加哥美中论坛美中杰出企业"企业领袖睿智奖</li>
           <li>— TCL集团荣膺中国品牌节慈善晚会"品牌中国华谱奖"—中国年度25大典范品牌</li>
           <li>— TCL被评为《财富》杂志"2007最受赞赏的中国公司"</li>
           <li>— TCL被评为《商业周刊》"中国新兴的国际化品牌"</li>
           <li>— TCL品牌在"2007中国最有价值品牌"评价中，品牌价值401.36亿元.居全国电视机制造业第一位</li>
           <li>— TCL荣获2007 "最具竞争力中资跨国企业"称号</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2006年</span>
       <ul>
           <li>— TCL荣列"2006年（第二十届）电子信息百强企业"第四名，成为连续10年入选中国电子信息百强企业前十强的三家企业之一</li>
           <li>— TCL荣获 "2006年第三届中国最佳企业公民"大奖</li>
           <li>— TCL被评定为"中国电子企业最有价值品牌"，以367.25亿元荣列消费电子类最有价值品牌第四名</li>
           <li>— TCL入选"中国25大典范品牌企业--爱国者品牌中国总评榜"</li>
           <li>— TCL荣获首届"全国企业自主创新十大杰出企业荣誉称号"</li>
           <li>— TCL品牌在"2006中国最有价值品牌"评价中，品牌价值362.00亿元，综合排名跃居第三，居电视机制造业第一位</li>
           <li>— TCL集团董事长兼总裁李东生入选《中国企业家》杂志"最具影响力的企业领袖"前十名</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2005年</span>
       <ul>
           <li>— TCL荣列"2006年（第二十届）电子信息百强企业"第四名，成为连续10年入选中国电子信息百强企业前十强的三家企业之一</li>
           <li>— TCL荣获 "2006年第三届中国最佳企业公民"大奖</li>
           <li>— TCL被评定为"中国电子企业最有价值品牌"，以367.25亿元荣列消费电子类最有价值品牌第四名</li>
           <li>— TCL入选"中国25大典范品牌企业--爱国者品牌中国总评榜"</li>
           <li>— TCL荣获首届"全国企业自主创新十大杰出企业荣誉称号"</li>
           <li>— TCL品牌在"2006中国最有价值品牌"评价中，品牌价值362.00亿元，综合排名跃居第三，居电视机制造业第一位</li>
           <li>— TCL集团董事长兼总裁李东生入选《中国企业家》杂志"最具影响力的企业领袖"前十名</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2004年</span>
       <ul>
           <li>— TCL荣获"2003-2004年度中国最受尊敬企业"称号</li>
           <li>— TCL荣获"中国电子信息行业质量管理最高荣誉奖"</li>
           <li>— TLC荣获"中国最具生命力企业"称号</li>
           <li>— TCL品牌在"2004中国最有价值品牌"评价中，品牌价值305.69亿元，名列第六</li>
           <li>— TCL集团董事长李东生当选"2004全球最具影响力商界领袖"</li>
           <li>— TCL集团董事长李东生入选"CCTV2004中国经济年度人物奖"</li>
           <li>— TCL被评定为"未来十年中国最具成长性的50家蓝筹公司--上榜企业"</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2003年</span>
       <ul>
           <li>— TCL品牌在"2003中国最有价值品牌"评价中，品牌价值为267.12亿元</li>
           <li>— TCL集团荣获2002年度电子信息产品出口成绩优秀企业</li>
           <li>—TCL集团荣列2002年中国最大500家大企业集团第29名</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2002年</span>
       <ul>
           <li>— TCL集团荣获"2002年度中国最受尊敬企业"称号</li>
           <li>— TCL家用电器被评为"重点支持和发展的名牌出口商品"</li>
           <li>— TCL品牌在"2002中国最有价值品牌"评价中，品牌价值为187.69亿元</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2001年</span>
       <ul>
           <li>— TCL集团荣获2000年度电子信息产品出口成绩优秀企业称号</li>
           <li>— TCL品牌在"2001中国最有价值品牌"评价中，品牌价值为144.69亿元</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">2000年</span>
       <ul>
           <li>— TCL集团荣获首届中国十强策划企业称号</li>
           <li>— TCL集团荣获2000年度电子信息产品出口成绩优秀企业称号</li>
           <li>— TCL品牌在"2000中国最有价值品牌"评价中，品牌价值为105.93亿元</li>
           <li>— TCL集团有限公司董事长李东生荣获"最受关注企业家"称号</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">1999年</span>
       <ul>
           <li>— TCL品牌在"1999中国最有价值品牌"评价中，品牌价值为75.56亿元</li>
           <li>— "TCL"商标被国家工商行政管理局认定为"中国驰名"商标</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">1998年</span>
       <ul>
           <li>— "TCL"商标被认定为广东省著名商标</li>
           <li>— TCL集团荣获"全国企业管理现代化优秀成果"二等奖</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">1997年</span>
       <ul>
           <li>— TCL王牌彩电荣获"走向世界的100家中国名牌"称号</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">1995年</span>
       <ul>
           <li>— TCL王牌彩电荣获中国国际名牌产品博览会金奖、中华名牌彩电、中华科技精品、国家电子工业部优等品、95年中国市场畅销彩电、中国国际电子贸易博览会金奖、95年全国畅销国产商品
    金桥奖</li>
       </ul>
       </div>
      </div> 
	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
  <!--<script type="text/javascript" src="/static/js/core/about.js"></script>-->
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>