<!DOCTYPE html>
<html>
<head>
	<!--TCL发展历程-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于TCL > <span>发展历程</span></p>
		</div>
	</div>	
	<div class="about_content">
		<img src="/static/img/li_about_2.jpg" alt="公司展示图片" class="top">
		<span class="title">2014年</span>
		<p>
				2月25日    TCL集团发布互联网转型时代下全新的转型战略——“智能+互联网”与“产品+服务”的“双+”战略，以互联网思维全面构建TCL集团的战略转型和新商
业模式，重新定义TCL集团以用户为中心的新价值观和愿景。<br>
4月9日    TCL宣布投资5亿元启动O2O平台项目建设。同时宣布成立TCL文化传媒公司，发力内容建设。<br>
8月1日    第五届“亚洲最佳雇主品牌奖”在新加坡揭晓，TCL连续三年获此奖项<br><br>
		</p>
		<span class="title">2013年</span>
		<p>
		1月5日    由著名财经作家吴晓波牵头创作、以TCL30年成长历程为蓝本的《鹰的重生》一书在京举行首发仪式<br>
1月11日    好莱坞星光大道地标性建筑“好莱坞中国大剧院”，正式更名为“好莱坞TCL中国大剧院”。这是该剧院建成85年来首次与企业进行冠名合作。<br>
4月17日    TCL家电（合肥）产业园项目在合肥市肥西县桃花工业园举行奠基仪式，TCL计划总投资70亿元，年产800万台冰箱洗衣机的中高端冰洗生产线项目正式启动。<br><br>
		</p>
		<span class="title">2012年</span>
		<p>
		1月9日    TCL集团发布公告，2012年度LCD电视销量1578.10万台，跻身全球彩电三强，这也是中国彩电企业首次冲入全球液晶彩电第一阵营。<br>
1月10日    第45届国际消费电子展（CES）上，TCL荣获技术创新单项大奖“年度智能云计算电视”奖，同时蝉联全球消费电子TOP50和全球电视品牌第六名。<br>
3月9日    由华星光电研制成功的110吋四倍全高清3D液晶显示屏“中华之星”在京正式发布。<br><br>
		</p>
	</div>	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>