<!DOCTYPE html>
<html>
<head>
     <!--发展历程详情-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p><a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">关于首页</a> > <a href="http://mall.tcl.com/aboutTCL.jsp" target="_blank">关于TCL</a> > <span>发展历程</span></p>
		</div>
	</div>	
	<div class="about_content">
		<img src="/static/img/devel-details.jpg" alt="公司展示图片" class="clear_top">
        <div class="devel_details_title"><ul><li class="hover">创建全球领先企业 1999-至今</li><li>企业高速增长阶段1992-1998</li><li>规模积累阶段1981-1991</li></ul></div>        
      <div id="date_1">
        <div class="details_01">
		<span class="title">2015年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">TCL通讯收购Palm品牌，借助Palm在北美地区强大的品牌识别度，将进一步提升TCL通讯在北美手机市场的竞争力。
TCL集团携手湖北银行、武商联集团、武商集团，共同创立湖北消费金融股份有限公司。
TCL集团调整现有产业及业务结构，将集团主要产业和业务及企业分别归属为产品业务领域，服务业务领域以及创投及投资业务（简称：三大业务领域、“7+3+1”十一个业
务板块）。
TCL集团、TCL多媒体、TCL通讯投资9000万元在香港成立合资公司，运营智能家庭项目，大力布局智能生态系统。</span></li>
        <li>
        <span class="deta">2月</span>    
        <span class="des">TCL集团入股天津七一二通信广播有限公司(“七一二”), 进入军用、警用、铁路、交通等行业专用通信设备，集群移动通信系统等市场。7月再次增持七一二股权。</span>
        </li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">TCL集团与上海银行股份有限公司签订了定向增发股份认购协议，成为上海银行第六大股东。
4月8日，TCL集团在深圳举行2015春季新品发布会，明确了未来的定位将是“全球化的智能产品制造及互联网应用服务企业集团”，宣布与腾讯、未来电视达成平台、内容、
牌照三方资源强势整合的战略级合作。
华星光电二期项目正式宣布提前50天实现量产，又一次刷新了中国面板产业建设史记录。
TCL集团在第十二届(2015)中国慈善榜颁奖典礼荣获“十大慈善企业”。</span>
        </li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">TCL集团旗下的智能电视运营平台广州欢网科技有限公司正式引入腾讯投资作为战略投资者，继续推进腾讯与TCL TV+平台的全面合作。
TCL集团战略投资的全球播科技（北京）有限公司与中国电影科学技术研究所共同启动“电影智能家庭影院”试点项目，并首次大范围推广全球播“同步院线”的产品服务及理念。</span>
        </li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">武汉华星光电项目提前封顶，TCL完善面板产业链布局。
TCL参加2015年美国国际显示周SID大会，华星光电显示技术产品创多项“视界”之最。
TCL-IMAX娱乐有限公司在上海召开IMAX臻享影院媒体发布盛会。
TCL创投成为第一批进入德交所风险投资网络系统的两家中国创投机构之一。</span>
        </li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">7月28日，TCL集团正式实施股份回购，并将根据市场情况继续实施股份回购，维护全体股东的利益。
2015年《财富》中国500强企业名单发布，在中国经济增长放缓的情况下，TCL集团逆势增长，较去年上升7位，越居第55位。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">TCL集团股份有限公司与中国电信集团公司共同宣布达成集团战略合作协议，携手开创“互联网+工业制造”新时代。
TCL凭借在员工培养体系、人才管理方面的成就获第六届“亚洲最佳雇主品牌奖”。</span>
        </li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">
胡润研究院发布《2015胡润品牌榜》，TCL集团品牌价值115亿，涨幅比例达448%，位列十大增值品牌榜榜眼。在家用电器品牌价值排名中，由第七位跃升到第四位。
TCL集团“转型升级·鹰旅戈行”活动于瓜州举办点将台启动仪式。
2015（第21届）中国品牌价值报告公布，TCL品牌价值710.28亿元，持续保持增长，在中国电视机制造业第10次蝉联榜首。
9月28日，“2015 TCL秋季新品发布会” 、第二届TCL铁粉节在在深圳召开，向用户展示了“双+”战略转型的全新成就。</span>
        </li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL集团董事长兼CEO李东生入选2015互联网时代最具影响力企业家20强。
TCL集团股权悄变，TCL集团董事长兼CEO李东生及其管理层已成为TCL第一大股东</span>
        </li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">第十一届中国优秀企业公民年会上，TCL集团荣获“2015中国优秀企业公民”、“TCL希望工程烛光奖”项目获得“2015中国企业公民优秀公益项目”荣誉称号。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">12月14日，TCL再度携手乐视在深圳举行战略合作发布会，推动产业升级共谋全球电视市场。
12月21日，央视-索福瑞与欢网科技举行战略合作发布会召开，宣布共同开展智能电视大数据在电视收视领域的研究。</span>
        </li>
		</ul></div>
        <div class="details_01">
		<span class="title">2014年</span>
        <ul>
		<li>
		<span class="deta">2月</span>    
        <span class="des">2月25日，TCL集团发布互联网转型时代下全新的转型战略——“智能+互联网”与“产品+服务”的“双+”战略，以互联网思维全面构建TCL集团的战略转型和新商业模式，
重新定义TCL集团以用户为中心的新价值观和愿景。</span></li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">4月9日，TCL宣布投资5亿元启动O2O平台项目建设。同时宣布成立TCL文化传媒公司，发力内容建设。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">8月1日，第五届“亚洲最佳雇主品牌奖”在新加坡揭晓，TCL连续三年获此奖项。</span>
        </li>
        <li>
		<span class="deta">9月</span>    
        <span class="des">9月02日，TCL集团董事长李东生获2014年“卡内基卓越领导人奖”; <br />9月16日，华星光电第 6 代LTPS(低温多晶硅)显示面板生产线项目(t3项目)在武汉光谷开工建设，该项目投资160亿元，预计在2016年底实现量产;<br />9月25日，《财富》杂志公布《2014年最受赞赏的中国公司》， TCL排名23位，在上榜的家电企业中位列第四。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">10月10日，TCL家电(合肥)产业园在合肥市肥西县桃花工业园举行开园投产仪式，标志着年产800万台冰箱、洗衣机的TCL中高端冰洗生产线项目正式启动运营;<br />10月22日， TCL宣布成立TCL集团金融事业本部，对TCL的金融服务业务进行统筹和管理;<br />10月22日，第20届“中国最具价值品牌”百强榜揭晓。TCL集团以品牌价值668.59亿元，稳居中国百强品牌第六位，连续9年蝉联中国电视机制造业第一名。</span>
        </li>
		</ul></div>
        
         <div class="details_01">
		<span class="title">2013年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">由著名财经作家吴晓波牵头创作、以TCL30年成长历程为蓝本的《鹰的重生》一书在京举行首发仪式;<br />
1月11日，好莱坞星光大道地标性建筑“好莱坞中国大剧院”，正式更名为“好莱坞TCL中国大剧院”。这是该剧院建成85年来首次与企业进行冠名合作。</span></li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">TCL家电（合肥）产业园项目在合肥市肥西县桃花工业园举行奠基仪式，TCL计划总投资70亿元，年产800万台冰箱、洗衣机的中高端冰洗生产线项目正式启动。</span>
        </li>
        <li>
		<span class="deta">7月</span>    
        <span class="des">TCL集团董事长李东生入选福布斯“2013中国50位最佳CEO”。<br />
中共中央政治局常委、国务院总理李克强主持召开经济形势座谈会，听取专家和企业负责人关于当前经济形势的意见和建议。TCL集团董事长李东生等四位企业家及其他专家、学者出席。</span></li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">TCL多媒体成功分拆AV（音频视频）产品业务，通力电子控股有限公司（1249.HK）在香港联交所主板上市，成为TCL集团第四家上市公司。</span>
        </li>
        <li>
		<span class="deta">9月</span>    
        <span class="des">TCL携手中国视频行业领导品牌爱奇艺，在北京隆重举行“TV+，玩真的——TCL爱奇艺电视发布会”，正式推出跨界电视产品“TCL爱奇艺TV+”。<br />
年产能达1.2亿台的TCL通讯全球制造基地在广东惠州宣布正式投产，这是目前中国单体产能最大的手机制造基地。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">第19届“中国最具价值品牌”百强榜在法国巴黎揭晓。“TCL”以品牌价值639.16亿元，位居中国百强榜第六位，连续8年蝉联中国彩电第一品牌。</span>
        </li>
        <li>
		<span class="deta">11月</span>    
        <span class="des">计划总投资244亿元，月产能10万片的华星光电二期项目在深圳启动。</span></li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">由人民网主办的“2013人民网中国消费电子产业年度评选颁奖典礼”在北京举行。TCL爱奇艺电视获“年底十大创新产品奖”，TCL被授予“年度十大创新力企业奖”。</span>
        </li>
		</ul></div>
        
         <div class="details_01">
		<span class="title">2012年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">TCL集团发布公告，2012年度LCD电视销量1578.10万台，跻身全球彩电三强，这也是中国彩电企业首次冲入全球液晶彩电第一阵营。
第45届国际消费电子展（CES）上，TCL荣获技术创新单项大奖“年度智能云计算电视”奖，同时蝉联全球消费电子TOP50和全球电视品牌第六名。</span></li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">由华星光电研制成功的110吋四倍全高清3D液晶显示屏“中华之星”在京正式发布。</span>
        </li>
        <li>
		<span class="deta">5月</span>    
        <span class="des">TCL集团成为广东家电行业“2012年度政府质量奖”唯一获奖企业。</span></li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">“TCL公益基金会”在深圳正式挂牌成立;<br />TCL荣膺“亚洲最佳雇主品牌奖”。</span>
        </li>
        <li>
		<span class="deta">8月</span>    
        <span class="des">TCL与腾讯联合推出革命性创新产品iCE SCREEN冰激凌智屏</span></li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">TCL集团以品牌价值583.26亿元，蝉联中国电视机制造业第一名，位居中国百强品牌第六位</span>
        </li>
        <li>
		<span class="deta">10月</span>    
        <span class="des">深圳华星光电宣布85代液晶面板项目提前三个月超越10万片的设计满载产能，标志着该项目成为国际一流的、海峡两岸产能最大的8.5代液晶面板线;<br />内蒙古自治区党委书记胡春华实地视察内蒙古TCL液晶产业园。</span></li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">TCL集团董事长、TCL通讯董事长李东生获2012年中国手机十大风云人物奖，TCL通讯获2012年中国十大手机品牌奖，TCL S900手机获最佳手机外观奖: <br />华南理工大学60周年校庆之际，TCL集团向该校捐赠价值1000万元的显示设备；由李东生董事长和夫人魏雪女士向母校捐资3000万元扩建的“笃行楼”同时举行奠基仪式。</span>
        </li>
        <li>
		<span class="deta">12月</span>    
        <span class="des">TCL宣布2012年度全球平板电视出货量正式突破1500万台，这是中国彩电企业首次全球年出货量突破1500万大关。</span></li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2011年</span>
        <ul>
		<li>
		<span class="deta">3月</span>    
        <span class="des">中共中央政治局委员、广东省委书记汪洋专程赴深圳华星光电调研。</span></li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">中国共产党TCL集团股份有限公司第五次代表大会在惠州召开，会议选举产生了新一届党委会成员。</span>
        </li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">“TCL助力中国男篮主赞助商签约仪式暨TCL 30周年珍藏版新品发布”活动在北京隆重举行。</span>
        </li>
        <li>
		<span class="deta">6月</span>    
        <span class="des">TCL集团在惠州仲恺高新区举行TCL科技大厦入驻仪式; <br />中共中央政治局委员、国务院副总理张德江参观TCL“数字家庭”项目。</span></li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">中共中央政治局常委、中央纪委书记贺国强抵TCL波兰工厂视察。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">深圳华星光电8.5代液晶面板项目首期设备正式投产。</span>
        </li>
        <li>
		<span class="deta">9月</span>    
        <span class="des">
中国企业全球竞争力战略研讨会暨TCL成立30周年答谢会在北京人民大会堂举行; <br />TCL成立30周年庆典晚会在广东省惠州市隆重举行。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL 集团2011年度全球合作伙伴大会在惠州隆重举行; <br />TCL成功入选 “2011全球竞争力品牌-中国TOP10”榜单，这是TCL第二次获此殊荣; <br />广东省省长黄华华考察TCL多媒体全球制造中心波兰工厂。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">TCL平板彩电销量首次突破1000万台。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2010年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">由深圳市政府和TCL集团共同投资245亿元的华星光电8.5代液晶面板项目隆重开工。</span></li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">中国中央政治局委员、国务院副总理张德江在中南海会见TCL集团董事长李东生。</span>
        </li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">中共中央政治局委员、中央书记处书记、中宣部部长刘云山到TCL视察。</span>
        </li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">李东生董事长应邀参加温家宝总理主持的国务院经济工作座谈会。</span></li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">澳门特别行政区行政长官崔世安到TCL考察。</span>
        </li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">TCL以458.08亿元品牌价值再度荣膺中国彩电第一品牌 ;由李东生和夫人魏雪共同设立的“华萌基金”向华南理工大学捐赠3000万元，这是华南理工大学迄今为止最大的一笔个人捐款。</span>
        </li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL通讯发布第三季度公报，其手机销量排名已跻身全球第七位，前三季度通讯业务盈利3.95亿元。</span></li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">TCL集团董事长李东生在广州传递亚运圣火，同时，TCL“快乐魔方”亚运主题公园举行了隆重的开馆仪式。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">TCL通讯首次荣获“2010年香港杰出企业奖” ;TCL集团荣获“广东十大创新企业” ;华星光电主体厂房提前完成封顶工程。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2009年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">李东生董事长荣获“改革开放30年品牌建设杰出管理贡献奖”。
TCL王牌电器（惠州）有限公司、惠州TCL移动通信有限公司等7家公司被认定为首批“国家级高新技术企业”。</span></li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">TCL推出MiTV互联网电视，掀起了一场电视产业的革命性变革。</span>
        </li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">中共中央政治局委员、广东省委书记汪洋，省长黄华华一行，考察TCL液晶模组工厂 ; 国务院总理温家宝步入广交会展馆TCL展区，询问企业创新和出口情况，并对TCL具有自主知识产权的“自然光”技术产品非常赞赏。</span></li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">“TCL携手中国男篮及CBA签约仪式”在宁波举行，TCL集团成为中国国家男子篮球队官方合作伙伴及中国男子篮球职业联赛（CBA）指定赞助商。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">TCL获得“CCTV新中国建国60年60品牌”荣誉称号。同时，TCL集团董事长李东生荣获“中国品牌杰出贡献奖”。</span></li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">国内独立投资规模最大、技术最先进的液晶电视模组、整机一体化项目——TCL集团液晶模组一体化工厂建成投产。</span>
        </li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">总投资达245亿元的深圳市第8.5代薄膜晶体管液晶显示器件（TFT-LCD）生产线项目宣布正式启动。同时,深圳市华星光电技术有限公司也宣布正式成立。</span></li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">2009年“中国最有价值品牌排行榜”在纽约发布，TCL集团入选2009“中国最有价值品牌”，以417.38亿元品牌价值蝉联彩电第一品牌; <br />品牌中国联盟、人民网分别授予李东生董事长“建国60周年品牌功勋人物”、“共和国60年影响中国60人”，TCL则被人民网评为“共和国60周年最具影响力品牌60强”; 被誉为中国经济领域“奥斯卡”的2009 CCTV中国经济年度人物亮相，李东生董事长荣获 “中国经济十年商业领袖人物”。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2008年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">中共中央政治局委员、国务院副总理曾培炎视察TCL多媒体波兰制造基地。</span></li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">TCL集团公布2007年盈利性年报并摘掉“*ST”帽子。5月19日， “TCL集团”（000100）重返深证100指数。</span>
        </li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">中国彩电业年度行业总评揭晓，TCL一举夺得“中国数字电视年度国际成功大奖”、“年度液晶电视大奖”、“年度绿色健康产品大奖”以及“消费者最喜爱的彩电品牌”四
项大奖。</span>
        </li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">5·12汶川大地震发生后，TCL集团及全球6万名员工为抗震救灾捐助款物超1000万元人民币;中共中央政治局委员、广东省委书记汪洋视察TCL惠州基地。</span></li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">由TCL、联想等企业联合发起成立的“闪联”制定的 “信息设备资源共享协同服务（闪联）系列标准”被正式接纳为ISO国际标准，成为中国在信息技术领域首个国际标准。</span>
        </li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">睿富全球排行榜在纽约发布“中国最有价值品牌排行榜”，TCL品牌以408.69亿元人民币夺得中国彩电业第一品牌;TCL集团与第十六届亚运会组委会签约，TCL正式成为广州2010年亚运会合作伙伴。</span>
        </li>

        <li>
        <span class="deta">12月</span>    
        <span class="des">TCL与英特尔在北京签署战略合作协议，双方宣布将携手开发下一代互联网电视，合力推动互联网与电视的全面融合; <br />TCL集团首台液晶模组下线，标志着以TCL集团为代表的中国彩电业在建立新兴的平板电视核心竞争力和实施产业整体转型升级方面迈出了关键一步。</span>
        </li>		
        </ul></div>
        
        <div class="details_01">
		<span class="title">2007年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">TCL彩电核心技术获美国国家电视学院艾美奖，这是中国公司历史上首次获得该奖项。</span></li>
        <li>
        <span class="deta">2月</span>    
        <span class="des">TCL与中国网球协会签署为期3年的战略合作协议，成为中国女子网球队的首席赞助商; <br />
TCL与中国网球协会签署为期3年的战略合作协议，成为中国女子网球队的首席赞助商。</span>
        </li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">为期四天的“2007年TCL高尔夫精英赛”在海南三亚落下帷幕，该项国际性赛事吸引了包括多名欧洲高球名将在内的156名职业选手参与: <br />中国共产党TCL集团第四次代表大会在惠州召开，选举产生了以李东生为党委书记的TCL集团新一届党委班子。</span>
        </li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">TCL自主研发的“增强型液晶电视数字视频动态背光控制技术”通过国家高新技术成果鉴定，并成功实现技术转让。此技术属国内外首创，且达到国际领先水平。</span></li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">TCL启动新品牌战略，“创意感动生活”（The Creative Life）为“TCL”品牌注入新的内涵。</span>
        </li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">TCL炫尚E72液晶电视荣获德国红点工业设计大奖——2007产品设计奖。</span>
        </li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL入选《财富》“2007最受赞赏的中国公司”。
</span></li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">李东生董事长应邀参加“相信中国制造——CCTV中国经济年度人物四海论道”全球论坛法国站演讲。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">TCL集团宣布对旗下成员企业进行业务重组，集团治理向投资控股型管理模式转变。自2008年1月1日起，多媒体、通讯、家电、部品四大产业集团以及房地产与金融投资业务群、物流与服务业务群共六大业务单元构成TCL全新阵容; <br />TCL品牌价值首次突破400亿元大关，达到401.36亿，上涨近40亿，成为“全国电视机制造业第一”品牌;<br />TCL集团董事长李东生和夫人魏雪捐款800万元设立“华萌基金”，用于资助农村贫困地区的教育事业。这是中国企业家在“希望工程”设立的首个个人公益基金; <br />TCL集团高票通过定向增发方案，将募集资金不超过16.9637亿元人民币。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2006年</span>
        <ul>
		<li>
		<span class="deta">3月</span>    
        <span class="des">第三届TCL高尔夫精英赛在海南三亚挥杆，TCL品牌知名度和美誉度在全球得到进一步提升。</span></li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">李东生总裁发表《鹰之重生》系列文章，为TCL新一轮的变革创新活动指明了方向。7月中旬，TCL集团150多名高管举行延安行活动，并在宝塔山下立下坚定变革决心、成就
全球领先的誓言。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">TCL集团企业文化变革创新誓师大会召开，这是继1998年、2002年后，TCL集团在推行企业文化创新方面的又一里程碑。</span>
        </li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">TCL集团相继在惠州、广州、深圳举行成立25周年工作汇报会，并举办TCL集团第6届合唱音乐会，展示TCL 25年来取得的巨大成就</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">国庆黄金周期间，TCL启动“十一聆听行动”，李东生总裁和集团其他高管分赴海内外各大卖场，零距离倾听顾客需求，把握市场脉搏; <br />TCL集团启动精“鹰”工程培养计划，落实“关注中层、打造高效能中层队伍”的人力资源策略。经选拔，100名中层管理者列入首批培养计划。</span>
        </li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">TCL集团财务有限公司开业，宣布了“创建具有国际竞争力的世界级企业银行”的宏伟愿景。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">中国最有价值品牌揭晓，TCL品牌价值达362亿元，从2005年的第六名跃居第三; <br />李东生总裁再次当选“中国最具影响力的企业领袖”。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2005年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">TCL彩电销量雄居全球首位。</span></li>
        <li>
        <span class="deta">2月</span>    
        <span class="des">李东生总裁当选“2004广东十大经济风云人物”。</span>
        </li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">高尔夫欧巡赛43年历史上第一个由中国企业冠名并赞助100万美元的“TCL高尔夫精英赛”在三亚圆满收杆。</span>
        </li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">中共中央政治局常委、中央纪委书记吴官正视察TCL内蒙王牌生产基地。</span></li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">李东生总裁当选“中国十大创业领袖”。</span>
        </li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">TCL荣获2004年度“中国最受尊敬企业”; <br />2005年中国电子信息百强揭晓，TCL位居第三。</span>
        </li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">
广东省推出名牌战略，明确TCL领衔广东13家企业冲顶世界名牌。</span></li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">
2005年中国最有价值品牌评估揭晓，TCL以336.66亿元的品牌价值排名第六; <br />TCL荣获由中华人民共和国民政部颁发的2005年度“中华慈善奖”，是此次唯一获奖的消费类电子企业。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">TCL与法国罗朗格公司签署国际电工、楼宇科技资产转让协议。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2004年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">原中共中央政治局常委、全国人大常委会委员长李鹏同志视察TCL移动通信公司和TCL王牌惠州生产基地；<br />中国国家主席胡锦涛、法国总理拉法兰等两国政要出席成立TCL－汤姆逊电子有限公司的合同签约仪式; <br />TCL集团在深圳证券交易所正式挂牌上市。</span></li>
        <li>
        <span class="deta">2月</span>    
        <span class="des">李东生总裁被国际著名杂志《财富》评为“2003年亚洲年度经济人物”。</span>
        </li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">TCL入选 “2003－2004年度中国最受尊敬企业”; <br />TCL在广州举行人才招聘新闻发布会，宣布年内在全球招聘2200名具有国际化背景的中高级经营管理人才和研发人才; <br />TCL获广东省科学技术奖励特等奖; <br />广东最大50家企业排名榜和广东最大50家工业企业排名榜揭晓，TCL分别排名季军和亚军。</span>
        </li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">
TCL在广东省南海成立TCL家庭电器（南海）有限公司，正式进军小家电; <br />TCL与法国汤姆逊合资组建的全球最大彩电企业TTE CORPORATION(简称TTE)在深圳隆重开业。</span>
        </li>
        <li>
        <span class="deta">9月</span>    
        <span class="des">
法国总统希拉克在总统府会见李东生总裁，并向李总裁颁发法国国家荣誉勋章; <br />
菲律宾总统阿罗约在北京会见袁信成高级执行副总裁; <br />TCL空调武汉工业园奠基; <br />TCL（无锡）数码工业园在无锡国家高新技术开发区奠基; <br />TCL通讯科技控股有限公司在香港联合交易所主板上市。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL阿尔卡特移动电话有限公司开业; <br />中共中央政治局常委、国务院副总理黄菊在深圳参观TCL的产品并听取李东生总裁的工作汇报。</span>
        </li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">TCL集团和东芝电器营销株式会社（“TCM”）签署谅解备忘录，成立两家以电冰箱、洗衣机制造为主的制造公司和以销售为主的销售公司; <br />TCL白家电与青岛威士电器合资，建立TCL电冰箱青岛工业园</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">
李东生总裁当选美国《时代周刊》2004年全球最具影响力商界领袖; <br />
TCL（成都）数码工业园在成都高新技术产业开发区破土动工; <br />李东生总裁当选CCTV2004中国经济年度人物。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2003年</span>
        <ul>
		<li>
		<span class="deta">2月</span>    
        <span class="des">李东生总裁当选为十届全国人大代表。</span></li>
        <li>
        <span class="deta">5月</span>    
        <span class="des">TCL集团以319亿元人民币销售收入排名中国电子信息百强企业第四位; <br />全国人大常委会委员长吴邦国视察内蒙TCL王牌公司。</span>
        </li>
        <li>
        <span class="deta">6月</span>    
        <span class="des">中共中央政治局委员、广东省委书记张德江专程到TCL调研，并亲植榕树，以“榕树精神”勉励TCL做强做大。</span></li>
        <li>
        <span class="deta">7月</span>    
        <span class="des">广东省省长黄华华视察TCL，称赞“TCL的成功经验值得推广”; <br />李东生总裁发表《龙腾寰宇，虎跃神州——通过“龙虎计划”建立TCL国际竞争力》的重要讲话。</span>
        </li>
        <li>
        <span class="deta">8月</span>    
        <span class="des">
TCL投资的广州数码乐华科技公司成立; <br />TCL荣获“2002年中国最受尊敬企业”称号; <br />胡锦涛总书记视察南昌TCL王牌公司。</span></li>
        <li>
        <span class="deta">11月</span>    
        <span class="des">TCL与法国汤姆逊公司强强联合，重组彩电、DVD业务，缔造年产销量1800万台的彩电企业。</span>
        </li>
        <li>
        <span class="deta">12月</span>    
        <span class="des">中国最有价值品牌评比揭晓，“TCL”品牌价值为267.12亿元，名列第六。</span>
        </li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2002年</span>
        <ul>
		<li>
		<span class="deta">2012年</span>    
        <span class="des">李东生总裁被评为2002年“中国经济年度人物”，并获“年度创新奖”; <br />TCL手机在中国市场排名第三，位列国产手机首位; <br />TCL集团副总裁、TCL移动通信有限公司总经理万明坚被评为“全国十大杰出青年”; <br />中国最有价值品牌揭晓，TCL品牌价值187.69亿，位居全国第六。</span></li>
        <li>
        <span class="deta">1月</span>    
        <span class="des">全国人大副委员长邹家华视察TCL，并题词“为创建世界名牌企业而努力奋斗”。</span></li>
<li>
        <span class="deta">2月</span>    
        <span class="des">中共中央政治局委员、广东省委书记李长春第二次视察TCL集团。</span></li>
        <li>
        <span class="deta">4月</span>    
        <span class="des">中共TCL集团召开第三次代表大会，选举了以李东生为党委书记的TCL集团第三届党委会; <br />TCL集团股份有限公司宣告成立，选举产生了第一届董事会、监事会成员，李东生任董事长兼总裁</span></li>
<li>
        <span class="deta">7月</span>    
        <span class="des">TCL集团召开企业文化创新千人大会，李东生总裁作题为《创建具有国际竞争力的新企业文化》的重要讲话。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL全资收购的德国施耐德公司在慕尼黑开业。</span></li>
<li>
        <span class="deta">11月</span>    
        <span class="des">李东生总裁当选为中共十六大代表，参加中国共产党十六次全国代表大会。</span></li>
		</ul></div>
        
        <div class="details_01">
		<span class="title">2001年</span>
        <ul>
		<li>
		<span class="deta">2001年</span>    
        <span class="des">
李东生总裁提出“变革创新、知行合一”作为2001年TCL集团的工作主题; <br />集团首次对下属12家企业实行KPI绩效考核;<br />TCL移动通讯全年销售手机130万台，销售收入突破30亿元，成长为集团又一重要经济增长点; <br />TCL品牌以144.69亿元的品牌价值稳居全国第五位。</span></li>
<li>
        <span class="deta">1月</span>    
        <span class="des">TCL集团兼并无锡永固电子公司，成立TCL数码科技（无锡）有限公司</span></li>
<li>
        <span class="deta">2月</span>    
        <span class="des">TCL HiD299e型家庭信息显示器通过广东省科技成果鉴定,开创了我国彩电网络化的先河。</span></li>
<li>
        <span class="deta">4月</span>    
        <span class="des">与台湾瑞智精密股份有限公司合作，成立TCL瑞智（惠州）制冷设备有限公司，进军空调压缩机行业。</span></li>
<li>
        <span class="deta">6月</span>    
        <span class="des">集团成立“增强国际竞争力实施方案”工作组，着手制定集团中长期战略规划。</span></li>
<li>
        <span class="deta">9月</span>    
        <span class="des">TCL集团在北京、广州、惠州三地隆重举行庆祝TCL成立20周年暨TCL20周年成果汇报会。</span></li>
<li>
        <span class="deta">11月</span>    
        <span class="des">TCL成功举办第3届职工运动会。</span></li>
<li>
        <span class="deta">12月</span>    
        <span class="des">TCL对TV、AV等家电信息相关产品进行资源整合，成立多媒体电子事业本部，形成一个全新的以各事业部为虚拟企业架构的管理模式。</span></li>
		</ul></div>
        
        <div class="details_01" style="border-bottom:1px solid #f0f0f0">
		<span class="title">1999年</span>
        <ul>
		<li>
		<span class="deta">1月</span>    
        <span class="des">TCL国际控股有限公司股票在香港成功上市;<br />信息产业集团成立，微软公司前中国区总经理吴士宏女士出任总经理;<br />TCL斥资控股翰林汇软件产业公司，大举进军信息产业;<br />内蒙古TCL王牌电器有限公司宣告成立，原内蒙彩虹电视机厂无偿划拨给TCL经营，探索出一条国企改革新路; <br />李东生总裁作了题为《我们的目标：创建世界级的中国企业》的报告，正式提出向世界级企业迈进; <br />
“TCL”商标被国家工商行政管理局认定为“中国驰名”商标</span></li>
        <li>
        <span class="deta">3月</span>    
        <span class="des">TCL移动通信有限公司成立。</span></li>
		</ul></div>
        
      </div>   
      <div id="date_2">
        <div class="details_02">
		<span class="title">1998年</span>
        <ul>
		<li>
		<span class="deta">1998年</span>    
        <span class="des">中国进出口银行与TCL签定“20亿元人民币出口卖方信贷一揽子授信协议”，为TCL开拓海外市场提供了有力的资金支持。</span></li>
<li>
        <span class="deta">5月</span>    
        <span class="des">TCL与台湾致福集团合作，成立TCL致福电脑有限公司。</span></li>
        <li>
        <span class="deta">10月</span>    
        <span class="des">TCL金能电池有限公司成立。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1997年</span>
        <ul>
        <li>
        <span class="deta">1997年</span>    
        <span class="des">TCL集团公司调整企业结构，撤消三个专业集团，重组为TCL集团有限公司;<br />TCL集团公司成为惠州市首家国有资产授权经营试点企业; <br />TCL与河南美乐集团实现强强联合，成立河南TCL-美乐电子有限公司。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1996年</span>
        <ul>
        <li>
        <span class="deta">1996年</span>    
        <span class="des">TCL集团兼并香港陆氏公司彩电项目，开创国企兼并港资企业并使用国有品牌之先河; <br />TCL集团被国家经贸委和中国人民银行列入300户重点发展企业集团之一。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1995年</span>
        <ul>
        <li>
        <span class="deta">1995年</span>    
        <span class="des">TCL集团公司改组，下设“通讯”、“电子”、“云天”三大集团; <br />
TCL电话获国务院发展研究中心市场经济研究所授予"中国电话大王"称号。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1994年</span>
        <ul>
        <li>
        <span class="deta">1994年</span>    
        <span class="des">率先推出国内第一部无绳电话。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1993</span>
        <ul>
        <li>
        <span class="deta">1993年</span>    
        <span class="des">TCL将品牌拓展到电工领域，成立TCL国际电工（惠州）有限公司; <br />TCL电子（香港）有限公司成立; <br />TCL通讯设备股份有限公司股票在深交所上市，是国内通讯终端产品企业中第一家上市公司。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1992</span>
        <ul>
        <li>
        <span class="deta">1992年</span>    
        <span class="des">研制生产TCL王牌大屏幕彩电，投放市场一炮走红。同时，着手导入CI系统，成为国内较早实施CIS的国有企业之一。</span></li>
        </ul>
        </div>

        </div>


<div id="date_3">
        <div class="details_02">
        <span class="title">1991年</span>
        <ul>
        <li>
        <span class="deta">1991年</span>    
        <span class="des">在上海成立第一个销售分公司，随后又在哈尔滨、西安、武汉、成都等地建立销售分支机构，成为今天TCL全国性销售网络的雏形。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1989年</span>
        <ul>
        <li>
        <span class="deta">1989年</span>    
        <span class="des">TCL电话机产销量跃居全国同行业第一名并一直名列前茅。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1986年</span>
        <ul>
        <li>
        <span class="deta">1986年</span>    
        <span class="des">TCL商标在国家工商行政管理局商标注册; <br />
开发出我国最早的免提式按键电话，通过生产鉴定，创立“TCL”品牌。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1985年</span>
        <ul>
        <li>
        <span class="deta">1985年</span>    
        <span class="des">兴办中港合资的“TCL通讯设备有限公司。</span></li>
        </ul>
        </div>
        <div class="details_02">
        <span class="title">1981年</span>
        <ul>
        <li>
        <span class="deta">1981年</span>    
        <span class="des">在惠阳地区机械局电子科的基础上，组建惠阳地区电子工业公司，开始TCL集团的早期创业。</span></li>
        </ul>
        </div>

        </div>

	</div>	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
    <script type="text/javascript" src="/static/js/core/about.js"></script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>