<!DOCTYPE html>
<html>
<head>
	<!--TCL孵化中心详情页-->
	<meta charset="UTF-8">
	<title>TCL发展历程</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于首页 > 关于TCL > 技术研发 > <span>孵化中心</span></p>
		</div>
	</div>	
	<div class="about_content">
       <div class="honor_01">
	   <span class="title">来点实际的，我们能提供什么？</span>
       <p>
         <span>1. 各类软硬件技术协同攻关</span>
硬件技术（射频处理、功耗处理、显示、驱动）<br />
软件技术（音视频算法处理、操作系统、云端技术、大数据挖掘）<br />
显示技术（自然光、 裸眼3D、多基色、印刷显示、柔性显示）<br />
行业领先的硬件平台支持（符合国家标准的认证实验室，电性能、音视频指标、EMC、硬件常规测试实验室，高低温实验室等实验室）
       </p>
       <p>
         <span>2. 产业链支持</span>
与TCL各产业协同支持
协助研发成果在产业化中应用<br />
应用需求、行业信息、情报分析与分享<br />
供应链协同<br />
渠道、技术合作、数据共享等全方位支持<br />
制造工艺<br />
用户数据挖掘与分析
       </p>
       <p>
         <span>3. 软硬件平台支持</span>
孵化器将建立开源智能硬件社区与平台、提供智能硬件远程接口以及云服务等
       </p>
       <p>
         <span>4. 完善团队或技术</span>
TCL集团工业研究院已经孵化出欢网、全球播、敦泰科技等成功公司；我们拥有强大的研发团队，拥有众多高新技术专利，如项目团队缺一部分人和相关的技术，TCL研究院可用已有技术、人
才双方互补，或帮助进行人才招聘，协助打造完备的团队和技术。
       </p>
       </div>
       <div class="honor_01">
       <span class="title">哪些创业项目和团队可以进驻？</span>
       <p>
       <span>TCL创新孵化基地整体面向围绕TCL产业链创新项目，优先与各产业有协同、有可运营的商业模式、符合B2C原则。主要以“软件+服务”、新产品、新型显示与材料等相关技术，以下项目类
型为佳：（结合TCL产业优势，这样才能更高更快更好的帮助到你哦！）</span>
1. 围绕TCL主产业链形成移动互联网生态圈，尤其是互联网服务加运营相关的生态；<br />
2. 移动互联网相关应用及服务；<br />
3. 智能电视、智能手机、HTML5 相关应用及服务；<br />
4. 智能硬件及应用服务，如：模块电视、穿戴式设备、智能家庭、智能路由器、智能接口设备软件、硬件及应用服务；<br />
5. 新型显示与材料相关技术与应用。</p>
       </div>
       <div class="honor_01">
       <span class="title">说了这么多，我们的目的是什么？</span>
       <p>TCL创新孵化基地希望为创业团队提供全方位的支持、一站式服务，协助创业者快速成长，实现创业梦想；与此同时也期望与国内的创业圈、投资人、政府、企业等一起合作，共同打造健康、
良性、可循环的创业生态圈。
TCL创新孵化基地，专注创新创业孵化！想创业？或正在创业？就来TCL创新孵化基地！</p>
       </div>
       <div class="honor_01">
       <span class="title">TCL创新孵化基地在哪？</span>
       <p>TCL创新孵化基地位于深圳“TCL国际E城”，为创业者提供优质的超过6000平米的孵化场地；园区总建筑面积46万平米，以服务高新科技研发企业、TCL下属及上下游关联企业为核心，采用国际先
进的规划设计理念，打造深圳的人才高地、产业高地、生态高地和商务休闲高地。立马是不是有种高端大气上档次的感觉？</p>
       </div>
       <div class="honor_01" id="last">
       <span class="title">怎么“勾搭”上我们？么么哒！</span>
       <div class="tcl_yjy">
       		<p class="hooked_left"><a><img src="/static/img/yjy.jpg" /></a><br /> <span>关注 TCL集团工业研究院<br />微信公众账号：TCL-YJY</span></p>
       		<p class="hooked_center">地址：深圳南山中山园路1001<br />
号 TCL 国际E城TCL科技大厦<br />
联系人：李春雨<br />
办公：+86 755-3331146<br />
手机：+86 18682200334<br /> 
联系人：黄志刚<br />
办公：+86 755-36645473<br />
手机：+86 15099963197</p>
       		<p class="hooked_right">你的联系方式、创意项目或商<br />
业计划书投递：<br />
EMAIL: BP@TCL.COM
</p>
       </div>       
       </div>

      </div> 
	
	
		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
  <!--<script type="text/javascript" src="/static/js/core/about.js"></script>-->
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>