<!DOCTYPE html>
<html>
<head>
	<!--TCL 创新体系介绍-->
	<meta charset="UTF-8">
	<title>TCL简介详情页</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于TCL > 公司介绍 > <span>董事长致辞</span></p>
		</div>
	</div>	
	<div class="about_content">	
        <h4 class="maintitle">TCL集团技术创新体系简介</h4>    
		<p class="dsz_speech">
                <span class="img"><img src="/static/img/tixi_img.jpg" alt="公司展示图片"> </span>
				TCL集团技术创新体系由工业研究院、技术中心、以及下属各产业16个研发中心构成，目前，全球共有近5300名高素质研发人才，其中中、高级职称人员占42%，拥有国际先进水平的开发软件、仪器、设备7000多台套；研发办公面积10万多平方米；拥有CNAL国家产品认可认证实验室9个；与国际知名公司的联合实验室6个；博士后工作站1个，2013集团年预计研发投入为23亿。<br />

TCL 集团是全球少数同时拥有多媒体、移动通讯及8.5 代液晶面板业务的企业，公司将通过资源整合，充分发挥TCL 多媒体、TCL 通讯、华星光电在产品、研发和管理等多方面的协同效应，积极寻求在智能化产品、<br />云计算和网络化技术应用、操作系统及应用软件、新型显示技术等方面获得实质性的突破，不断加强技术创新的力度和厚度，以提升公司以及TCL品牌在国际消费电子产业的整体竞争优势。<br />

TCL集团形成了在集团技术与专利管理委员会管理下的、由工业研究院牵头核心技术研发、技术中心作为管理平台、全球23个研发机构共同组成的企业技术研发体系。<br />

TCL集团工业研究院直属于TCL集团总部，既是TCL集团的中央研发部门，也是TCL集团核心技术的孵化基地。研究院围绕“3C融合数字家庭系统及基础软件平台研发”和“新型显示技术”两大战略方向，依托用户体验研究，聚焦智能终端技术、数字视频与算法、基础软件技术平台、云架构与云计算、创新型产品与服务等主要研究方向，持续进行新产品和新技术的探索与研发。
		</p>
	</div>	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>