<!DOCTYPE html>
<html>
<head>
	<!--TCL简介详情页-->
	<meta charset="UTF-8">
	<title>TCL简介详情页</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于TCL > <span>TCL简介</span></p>
		</div>
	</div>	
	<div class="about_content">
		<img src="/static/img/li_about_1.jpg" alt="公司展示图片" class="top">
		<span class="title">全球化浪潮中新兴的中国力量</span>
		<p>
				<br>
				TCL即 the creative life 三个英文单词首字母的缩写，意为创意感动生活
				<br><br>
				TCL集团股份有限公司是全球化的智能产品制造及互联网应用服务企业集团，整体在深交所上市（SZ.000100），旗下另拥有四家上市公司： TCL多
				媒体电子（01070 .HK）、TCL通讯科技（02618. HK）、TCL显示科技（00334.HK ）、通力电子（01249. HK）。
				<br><br>
				公司创立于1981年，前身为中国首批13家合资企业之一——TTK家庭电器（惠州）有限公司，从事录音磁带的生产制造，后来拓展到电话、电视、
				手机、冰箱、洗衣机、空调、小家电、液晶面板等领域。集团现有7.5万名员工，23个研发机构，21个制造基地，在80多个国家和地区设有销售机构，
				业务遍及全球160多个国家和地区。
				<br><br>
				2014年，集团营收和利润再创历史新高，实现营业收入1010.29亿元，其中海外收入占47%，实现净利润42.33亿元，纳税总额59.6亿元。<br>
				2014年，集团 LCD电视销量全球排名第4位；手机全球排名第5位；液晶面板全球排名第5位；空调国内排名第5位；洗衣机国内排名第6位；冰箱国
				内排名第10位。2014年TCL品牌价值668.59亿元人民币，居中国百强品牌第6位，连续9年蝉联中国彩电业第一品牌。
				<br><br>
				马年跨千亿，羊毫谱新篇。为了尽快实现下一个千亿目标，2015年初集团制定了双轮驱动发展战略：通过“双+”转型建立新的业务能力；通过国际
				化完善全球业务布局，提升海外市场份额。
				<br><br>
				为了适应移动互联网的高速发展和跨界竞争的需要，集团2014年初提出“智能+互联网”、“产品+服务”的“双+” 战略转型，并将产业结构调整
				为七大产品业务领域、三大服务业务领域以及创投及投资业务，共11个业务板块。其中产品业务领域包括TCL多媒体电子、TCL通讯科技、华星光电、
				家电产业集团、通力电子、商用系统业务群和部品及材料业务群；服务业务领域包括互联网应用及服务业务群、销售及物流服务业务群以及金融事业
				本部。新的“7+3+1”结构，将为集团价值增长打开新扇面。
				<br><br>
				TCL是中国企业国际化的先行者，探索始于1999年，已经走过早期探索跨国并购、稳步成长三个阶段。近年，面对中国经济增速放缓的挑战，以及国
				家一带一路战略带来的机遇重新制定出集团国际化再出发的路线图。未来几年，集团将通过“三军联动，品牌领先”，继续巩固和提高欧美市场份额，
				同时选择印度、巴西等重点新兴市场突破，扎根当地市场，建立全价值链的竞争力。国际化是TCL未来发展的新引擎。
				<br><br>
				未来5年，集团致力于为用户提供极致体验的产品与服务，其中智能电视智能手机销量进入全球前三，发展有ARPU值贡献的1亿家庭用户和1亿移动用
				户。2015年，集团预计整体收入将在去年1010亿元的基础上增长18%，其中海外收入增长25%。
				<br><br>
				目前，TCL在全球80多个国家和地区设有销售机构，通过全球的23个研发机构、21个制造基地、四万个销售网点及“四条供应链”管理（产品设计与
				制造链、物流供应链、质量保证链、产品创造与支持链）。实现了全球资源高效配置
		</p>
	</div>	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>