<!DOCTYPE html>
<html>
<head>
	<!--TCL科技创新荣誉-->
	<meta charset="UTF-8">
	<title>TCL科技创新荣誉</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span class="sear">&#xe632;</span>
						<span  class="shoping">&#xe639;</span>
						<span class="admin">&#xe638;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<div class="about_nav_b">
		<div class="about_nav">
			<p>关于首页 > 关于TCL > 技术研发 > <span>科技创新荣誉</span></p>
		</div>
	</div>	
	<div class="about_content">
       <div class="honor_01">
	   <span class="title">荣誉</span>
       <ul>
           <li>2013年12月. TCL通讯获国家重点软件企业称号</li>
<li>2013年11月. TCL集团成立国家级（首批）工业设计中心</li>
<li>2013年10月. TCL通讯获2013年广东省战略性新兴产业骨干和培育企业</li>
<li>2013年10月. 通力电子获广东省战略性新兴产业骨干和培育企业称号</li>
<li>2013年9月. TCL集团获（第一批）广东省重点支持大型骨干企业称号</li>
<li>2013年2月. TCL集团获国家级信息化和工业化深度融合示范企业称号</li>
<li>2013年2月. TCL通讯获国家重点软件企业和集成电路设计企业称号</li>
<li>2011年. TCL集团成立数字家庭互动应用国家地方联合工程实验室</li>
<li>2011年. TCL集团成立广东省有机电发光显示（OLED）及TFT背板关键技术工程实验室</li>
<li>2011年. TCL集团成立国家数字家庭工程技术研究中心</li>
<li>2011年. TCL集团获国家技术创新示范企业称号</li>
<li>2011年. TCL集团获国家首批国家创新型企业称号</li>
<li>2010年. 速必达获第一批广东省先进标准化试点企业称号</li>
<li>2010年. TCL空调成立省级技术中心</li>
<li>2010年. TCL通讯成立省级技术中心</li>
<li>2010年. TCL集团成立国家数字家庭工程技术研究中心</li>
<li>2009年. TCL集团获国家第一批全国企事业知识产权示范单位称号</li>
<li>2006年. TCL集团成立省级大型工业研究院-TCL集团工业研究院</li>
<li>2002年. TCL集团成立国家认定企业技术中心</li>
<li>2001年. TCL集团成立博士后工作站</li></li>
<li>1997年. TCL集团成立广东TCL数字信息技术研发开发中心</li>
       </ul>
       </div>
       <div class="honor_01">
       <span class="title">新技术、新产品</span>
       <ul>
           <li>2010年. TCL推出国内首款基于Android操作系统的智能电视通过省科技成果鉴定，达到国际先进水平。</li>
<li>2009年. 推出全球首款3D商用电视</li>
<li>2008年. TCL推出全球首台高清影像互动电视－X9</li>
<li>2008年. 由TCL工业研究院独立研发的TCL闪联中间件平台通过科技鉴定并正式有偿授权给深圳纵横信科技有限公司，这是国内消费电子厂家首次实质性地完成了互通互联技术授权。</li>
<li>2007年. TCL圆偏振光液晶电视技术通过国家鉴定，该技术属国际先进。</li>
<li>2007年. 在中国闪联标准成为全球首个3C协同国际标准的同时，TCL推出首款具有鲜明家电特点的闪联盒子</li>
<li>2007年. TCL增强型液晶电视动态背光技术通过国家鉴定，该技术属国内外首创，并成功授权日本瑞萨科技。</li>
       </ul>
       </div>
       <div class="honor_01" id="last">
       <span class="title">专利奖</span>
       <ul>
           <li>2014年9月TCL量子点显示屏QLED荣获第54届德国柏林国际消费类电子展（IFA）“2014 IFA产品技术创新大奖”的“量子点显示技术金奖”，向世界展示了品牌的科技实力和创新活力。</li>
<li>2012年12月罗秋林被评为国家知识产权领军人才及“国家知识产权专家库”专家</li>
<li>2012年12月被 知识产权媒体集团旗下世界知名行业杂志 《知识产权资产管理》(IAM)评为 “中国知识产权倡导者”</li>
<li>2011年液晶平板电视（X10）第十三届中国外观设计优秀奖</li>
<li>2011年《液晶电视背光控制系统及方法》国家专利金奖</li>
<li>2009年获得国家第一批“全国企事业知识产权示范单位”的称号</li>
<li>2009年《一种降低观看液晶显示器产生视觉疲劳的方法、装置及应用》，获得国家专利优秀奖称号</li>
<li>2005年锐翔A电脑机箱获得国家专利金奖</li>
       </ul>
       </div>
      </div> 
	
		

		<!-- Help center html start -->
		<div class="help">
			<div class="min-wid">
				<dl>
					<dt>特色服务</dt>
					<dd><a target="_blank"  href="#">T码检测通道</a></dd>
					<dd><a target="_blank"  href="#">T码专属通道</a></dd>
					<dd><a target="_blank"  href="#">全场包邮</a></dd>			
					<dd><a target="_blank"  href="#">全国联保</a></dd>
				</dl>	
				<dl>
					<dt>帮助中心</dt>
					<dd><a target="_blank"  href="#">购物指南</a></dd>
					<dd><a target="_blank"  href="#">支付方式</a></dd>
					<dd><a target="_blank"  href="#">配送方式</a></dd>
				</dl>
				<dl>
					<dt>服务支持</dt>
					<dd><a target="_blank"  href="#">售后服务</a></dd>
					<dd><a target="_blank"  href="#">自助服务</a></dd>
					<dd><a target="_blank"  href="#">服务网点</a></dd>
				</dl>
							
				<dl>
					<dt>关于TCL</dt>
					<dd><a target="_blank"  href="#">了解TCL</a></dd>
					<dd><a target="_blank"  href="#">人才招聘</a></dd>
					<dd><a target="_blank"  href="#">联系我们</a></dd>
				</dl>
				<dl>
					<dt>关注我们</dt>				
					<dd><a target="_blank"  href="#">铁粉社区</a></dd>
					<dd><a target="_blank"  href="#">新浪微博</a></dd>
					<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
				</dl>
				<dl>
					<dt>线下网点</dt>
					<dd><a target="_blank"  href="#">线下网点</a></dd>
					<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
				</dl>		

				<dl class="last-r">
					<p class="red phone">400-712-3456</p>
					<p class="grey">（24小时在线，仅收市话费）</p>
					<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
					<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
				</dl>
			</div>
		</div>
		<!-- Help center html end -->
		<!-- footer html end -->
		<div class="footer">
			<div>
				<div class="foot-logo"><img src="/static/img/logo.png" /></div>
				<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
				<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
				<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
			</div>
		</div>
		<!-- footer html end -->
	

	
	<!-- Right slide bar html end -->
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>-->
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
  <!--<script type="text/javascript" src="/static/js/core/about.js"></script>-->
	<script type="text/javascript">
		plugin.init();
	</script>
</body>
</html>