<!DOCTYPE html>
<html>
<head>
	<!--技术研发-->
	<meta charset="UTF-8">
	<title>技术研发</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(static/img/pindao.jpg);*/
		/*background-image: url(static/img/index.png);*/
		/*background-image: url(static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div id="headerContainer" class="header head-channel">

	</div>
	<!-- Top html end -->
	<div class="about_TCL_top2 li_yanfa_bj">
		<div class="about_TCL_nav2">
			<ul>
				<li><a href="about_tcl.html">关于TCL</a></li>
				<li><a href="co_architecture.html">公司架构</a></li>
				<li><a href="technology_development.html" class="hover">技术研发</a></li>
			</ul>
		</div>
		<div class="li_kouhao3">
			<p class="f38"><span>持续进行新产品和新技术的探索与研发</span></p>
			<p class="f32 pt20"><span>TCL集团技术创新体系</span></p>
			<a href="TCL体系简介.html" target="_blank">体系简介</a>
		</div>		
	</div>
	<div class="li_guanyu_1_b bj_none">
				<div class="li_about_f">
							<div class="title">科技创新荣誉</div>
							<div class="line"></div>
							<ul class="wrap">
								<li class="first"></li>
								<li class="left">
									<div class="chat">
									<p class="tt">TCL通讯获国家重点软件企业称号</p></div>
								    <div class="dot f20">
								    	■
								    </div>
								    <div class="year">2013</div>
								</li>
								<li class="right">
									<div class="chat"><p class="tt">TCL集团成立数字家庭互动应用国家地方联合工程实验室</p></div>
								    <div class="dot f32">■</div>
								    <div class="year">2011</div>
								</li>
								<li class="left">
									<div class="chat"><p class="tt">TCL空调成立省级技术中心</p></div>
								    <div class="dot f38">■</div>
								    <div class="year">2010</div>
								</li>
							</ul>
							<p class="f_center pt30"><a href="TCL科技创新荣誉.html" target="_blank" class=" f14">查看更多 >></a></p>
						</div>
	</div>

	<div class="li_about_q li_yanfa_bj2">
		<div class="li_about_q_top">
			<div class="title">孵化中心</div>
			<div class="line"></div>
		</div>
		<div class="li_ww">
		<p><span>TCL创新孵化基地是干嘛的？</span><br>
			TCL集团工业研究院是TCL集团的中央研发机构，与TCL创投共同打造“TCL创新孵化基地”，<br />
为创业者提供产业链支持、平台支持、投资融资、人才引进、创业导师、市场推广、交流培训、孵化场地等一站式保姆服务，<br />
旨在帮助早期创业团队顺利启动和快速成长。TCL创新孵化基地专注早期创业团队项目孵化，依托TCL集团强大的产业链优势，打造国内一流的创业平台。		</p>
        <a href="TCL孵化中心详情页.html" target="_blank" class="seemore">查看更多</a>
		</div>  
	</div>


	<div id="footerContainer">

	</div>
	<!-- Right slide bar html start -->
	<div class="mask"></div>
	<div class="slidebar">
		<!-- Shopping Cart html start -->
		<div class="cart">
			<h3 class="cart-head">
				<span class="close">&#xe60f</span>
				<div class="black"><span class="shoping"></span>我的购物车</div>
			</h3>
			<div class="cart-list">
				<dl class="cart-dl bor-bott">
					<dt><img src="static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<div class="paging"><span class="active">1</span><span>2</span><span>3</span><span>4</span></div>
			</div>
			<div class="cost">
				<p class="red">￥1562.00</p>
				<p class="black">总价（不含运费）</p>
				<button class="buy">马上购买</button>
			</div>
		</div>
		<!-- Shopping Cart html end -->
		<!-- Registration html start -->
		<div class="regist">
			<h3>
				注册
			</h3>
			<div class="login-inp">
				<div><input type="text" placeholder="手机或邮箱"/></div>
				<div class="verify"><input type="text" placeholder="图片验证码"/><span><img src="static/img/verify.gif" /></span></div>
				<div><input type="text" placeholder="密码6~16位，数字/字母/字符至少两种"/></div>
				<div><input type="text" placeholder="确认密码"/></div>
				<p class="grey">注册TCL，即表示同意TCL的用户协议。</p>
				<div><button class="buy">注册</button></div>
				<p class="login-text"><span class="fr regis">注册</span></p>
			</div>
		</div>
		<!-- Registration html end -->
		<!-- login html start -->
		<div class="login">
			<h3>
				<img src="static/img/admin.png" />
			</h3>
			<div class="login-inp">
				<div class="uname"><input type="text" placeholder="手机、邮箱或用户名" /></div>
				<div class="upas"><input type="text" placeholder="密码"/></div>
				<div class="ulog"><button class="buy">登录</button></div>
				<p class="login-text"><span class="fl"><i>&#xe60b</i>忘记密码</span><span class="fr log">注册</span></p>
			</div>
		</div>
		<!-- login html end -->
	</div>
	
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script id="currentPage" data-targetpage="technology_development" src="/static/js/lib/require.min.js" data-main="/static/js/main.js"></script>

</body>
</html>