<!DOCTYPE html>
<html>
<head>
  <!--投资者关系页面-->
<meta charset="UTF-8">
<title>TCL官方网站</title>
<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
<!-- Top html start --> 
<!-- <div class="header" style="width: 1920px;"> --> 
<!-- <div class="header" style="width: 1366px;"> -->
<div class="header head-channel">
  <div class="nav">
    <div class="nav-bar clearfloat">
      <div class="hea-box"><img src="/static/img/logo.png" /></div>
      <div class="hea-box hot"></div>
      <div class="saerch">
        <input type="text" class="nav-saerch" />
        <span class="fr">&#xe614;</span>
        <div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
      </div>
      <div class="fr">
        <div class="menu"> 
          <!-- <div class="all"><a href="#" >全部商品</a><i></i></div> --> 
          <!-- <div class="ds"><a href="#" >全部商品</a><i></i></div> -->
          <div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
          <div class="sj"><a href="#" >手机</a><i></i></div>
          <div class="kt"><a href="#" >空调</a><i></i></div>
          <div><a href="#" >冰洗</a><i></i></div>
          <div><a href="#" >健康电器</a><i></i></div>
          <div><a href="#" >服务</a><i></i></div>
          <div><a href="#" >社区</a><i></i></div>
        </div>
        <div class="nav-r fl"> <span  class="shoping">&#xe60c;</span> <span class="admin">&#xe624;</span> <span class="sear">&#xe614;</span> </div>
      </div>
    </div>
    <div class="menu-list">
      <div class="ds">
        <ul>
          <li> <a href="#"><img src="/static/img/nav1.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav2.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav3.jpg" /> <span>艺术柜机空调</span></a> </li>
        </ul>
      </div>
      <div class="sj">
        <ul>
          <li> <a href="#"><img src="/static/img/nav1.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav2.jpg" /> <span>艺术柜机空调</span></a> </li>
        </ul>
      </div>
      <div class="kt">
        <ul>
          <li> <a href="#"><img src="/static/img/nav1.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav2.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav3.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav4.jpg" /> <span>艺术柜机空调</span></a> </li>
          <li> <a href="#"><img src="/static/img/nav5.jpg" /> <span>艺术柜机空调</span></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Top html end --> 

<!-- main start-->
<div class="invest invest-back01"> 
  <!--<div class="about_TCL_nav2">
			<ul>
				<li><a href="#" >关于TCL</a></li>
				<li><a href="#">公司架构</a></li>
				<li><a href="#"  class="hover">技术研发</a></li>
			</ul>
		</div>-->
  <div class="inv_relations contaier">
    <h1>全力为股东创造效益</h1>
    <h2>TCL集团股票代码：<i>000100.SZ</i></h2>
    <a href="http://irm.p5w.net/ssgs/S000100/" target="_blank" class="see_more">查看更多</a> </div>
</div>
<div class="invest invest-padd">
  <h3 class="contaier pr">分析及报告
    <p class="border_botm pa"></p>
  </h3>
  <div class="sosial-box">
    <p class="fxbg_title"><a>定期经营报告分析</a><a>上市公司报告</a><a>投资机构研究报告</a></p>
    <div class="fxbg" id="zyz_1">
      <ul>
        <li><a href="http://news.tcl.com/attached/file/20160715/20160715093142_31299.pdf" target="_blank">2016-066 TCL集团股份有限公司2016年半年度业绩预告</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160329/20160329154237_84913.pdf" target="_blank">TCL集团股份有限公司2015年年度报告摘要</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160113/20160113104416_64107.pdf" target="_blank">2015年年度业绩简报</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20150803/20150803111139_54845.pdf" target="_blank">TCL集团2015年半年度业绩简报</a><i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20141209/20141209160335_31597.pdf" target="_blank">面板行业深度研究报告：周期弱化，陆厂崛起，华星闪耀</a> <i>PDF下载</i></li>
      </ul>
      <div class="seemore03"><a href="TCL定期报告经营分析.html" target="_blank">查看更多>></a></div>
    </div>
    <div class="fxbg" id="zyz_2">
      <ul>
        <li><a href="http://news.tcl.com/attached/file/20160708/20160708231013_54181.pdf" target="_blank">关于2016年6月份产品销量及服务业开展情况的公告</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160708/20160708231041_81418.pdf" target="_blank">TCL集团股份有限公司关于当年累计新增借款的公告</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160708/20160708231113_34757.pdf" target="_blank">2016-064 TCL集团2016年公司债券（第二期）发行结果公告</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160614/20160614101840_52116.pdf" target="_blank">TCL集团股份有限公司第五届董事会第二十五次会议决议公告</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160614/20160614101915_46205.pdf" target="_blank">TCL集团股份有限公司关于以协议安排的方式私有化TCL通讯科技控股有限公司的公告</a> <i>PDF下载</i></li>
      </ul>
      <div class="seemore03"><a href="TCL上市公司公告.html" target="_blank">查看更多>></a></div>
    </div>
    <div class="fxbg" id="zyz_3">
      <ul>
        <li><a href="http://news.tcl.com/attached/file/20160630/20160630145455_22579.pdf" target="_blank">TCL集团（000100）：5月份经营数据点评</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160509/20160509152311_81890.pdf" target="_blank">面板低位拖累经营表现，环比有望逐季改善</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160509/20160509152836_56466.pdf" target="_blank">双+、产业链价值挖掘前景可期</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160105/20160105141612_94935.pdf" target="_blank">受累于彩电业务下滑</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20160105/20160105141725_17191.pdf" target="_blank">面板下行拖累业绩，转型前景值得期待</a> <i>PDF下载</i></li>
      </ul>
      <div class="seemore03"><a href="TCL投资机构研究报告.html" target="_blank">查看更多>></a></div>
    </div>
  </div>
</div>
<div class="sub_company_box">
  <h3 class="sub_company contaier pr">旗下上市公司
    <p class="border_botm02 pa"></p>
  </h3>
  <div class="invest-main invest-mar pr">
    <a href="http://multimedia.tcl.com/cn/investor/main.do?method=listing&mappingName=IR_Financial" target="_blank"> 
    <div class="ticker_a"><div class="ticker_b pa"></div><p class="ticker_c pa"><span class="exc_rate1">TCL通讯</span><span class="exc_rate2">02618.HK</span></p></div>
    <p class="invest-p">公司创立于1981年，前身为中国首批13家合资企业之一——TTK家庭电器（惠州）有限公司，从事录音磁带的生产制造，后来拓展到电话、电视、手机、冰箱、洗衣机、空调、<br />
      小家电、液晶面板等领域。集团现有7.5万名员工，23个研发机构，21个制造基地，在80多个国家和地区设有销售机构，业务遍及全球 160多个国家和地区。</p>
    </a>
  </div>
  <div class="invest-main invest-mar pr">
    <a href="http://www.tclcom.com/?page=financials" target="_blank"> 
    <div class="ticker_a01"><div class="ticker_b01 pa"></div><p class="ticker_c01 pa"><span class="exc_rate1">TCL通讯</span><span class="exc_rate2">02618.HK</span></p></div>
    <p class="invest-p">全球领先的移动终端产品和互联网服务提供商TCL通讯科技控股有限公司（简称“TCL通讯”，股票代码：HK.2618）成立于1999年3月是TCL集团旗下核心产业之一。TCL通讯总部位于<br />
中国深圳，其产品和服务销往全球170多个国家和地区，全球雇员达15,000多名。
</p>
    </a>
  </div>
 <div class="invest-main invest-mar pr">
    <a href="http://www.tonlyele.com/channel.aspx?id=69" target="_blank"> 
    <div class="ticker_a02"><div class="ticker_b02 pa"></div><p class="ticker_c02 pa"><span class="exc_rate1">TCL通讯</span><span class="exc_rate2">02618.HK</span></p></div>
    <p class="invest-p">通力電子控股有限公司（HK：1249）致力于成为全球领先、具有产业竞争力的音视频产品ODM供应商。通力电子专注于电声技术和新媒体技术的开发和应用，快速实现高性价<br />
比的规模制造，为合作伙伴提供一站式的音视频、电声等产品整体解决方案。
</p>
    </a>
  </div>
</div>
<div class="invest invest-padd">
  <h3>TCL股票论坛互动精华</h3>
  <div class="invest-main">
    <ul class="essence-list">
      <li class="essence-item">
        <div class="fl essence-l">
          <p>回购为什么没有进展?在呼悠投资的小股东吗？</p>
          <span class="fr">2015-11-23</span></div>
        <div class="fr essence-r"><i class="arrow arrow-l"></i>
          <p>公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！</p>
          <span>2015-11-23</span></div>
      </li>
      <li class="essence-item">
        <div class="fr essence-l">
          <p>回购为什么没有进展?在呼悠投资的小股东吗？</p>
          <span class="fr">2015-11-23</span></div>
        <div class="fl essence-r"><i class="arrow arrow-r"></i>
          <p>公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！</p>
          <span>2015-11-23</span></div>
      </li>
      <li class="essence-item">
        <div class="fl essence-l">
          <p>回购为什么没有进展?在呼悠投资的小股东吗？</p>
          <span class="fr">2015-11-23</span></div>
        <div class="fr essence-r"><i class="arrow arrow-l"></i>
          <p>公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！公司的回购事项依托于公司的业绩、回购的市场作用、实际效果及管理层的决策等综合因素，相关回购事宜请以公司公告为准，谢谢！</p>
          <span>2015-11-23</span></div>
      </li>
    </ul>
  </div>
  <p><a href="#" class="but">我要提问</a></p>
</div>
<div class="laws_reg_box">
  <h3 class="contaier pr">相关法律法规
    <p class="border_botm03 pa"></p>
  </h3>
  <div class="laws_reg">
    <p class="laws_title"><a class="hover">上市公司管理制度</a><a>证券法律法规</a><a>公平在身边</a></p>
    <div class="laws" id="flfg_1">
      <ul>
        <li><a href="http://news.tcl.com/attached/file/20150818/20150818153146_94426.pdf" target="_blank">TCL集团股份有限公司公司章程2015年8月13日修订</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20150818/20150818153334_59551.pdf" target="_blank">《章程》修正案 2015年8月</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20140908/20140908110851_19530.pdf" target="_blank">TCL集团股份有限公司 风险投资内控制度</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20140908/20140908111228_28095.pdf" target="_blank">TCL集团股份有限公司 金融衍生产品投资内控制度</a><i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/file/20140908/20140908112512_25454.pdf" target="_blank">TCL集团股份有限公司投资者关系管理制度</a> <i>PDF下载</i></li>
      </ul>
      <div class="seemore"><a href="TCL上市公司治理制度.html" target="_blank">查看更多>></a></div>
    </div>
    <div class="laws" id="flfg_2">
      <ul>
        <li><a href="http://news.tcl.com/attached/pdf/investors_constitution.pdf" target="_blank">中华人民共和国宪法</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/pdf/investors_criminal_law.pdf" target="_blank">中华人民共和国刑法修正案</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/pdf/investors_stock_rules.pdf" target="_blank">深圳证券交易所股票上市规则</a> <i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/pdf/investors_company_law.pdf" target="_blank">中华人民共和国公司法</a><i>PDF下载</i></li>
        <li><a href="http://news.tcl.com/attached/pdf/investors_securities_law.pdf" target="_blank">中华人民共和国证券法</a> <i>PDF下载</i></li>
      </ul>
      <div class="seemore"><a href="TCL证券法律法规" target="_blank">查看更多>></a></div>
    </div>
    <div class="laws" id="flfg_3">
      <ul>
        <li><a href="TCL公平在身边详情.html" target="_blank">案例：信披错漏引震荡 规范披露保公平</a> <i>2015-10-25</i></li>
        <li><a href="TCL公平在身边详情.html" target="_blank">案例：承诺分红 理当兑现</a> <i>2015-10-25</i></li>
        <li><a href="TCL公平在身边详情.html" target="_blank">案例：投之以桃 报之以李</a> <i>2015-10-25</i></li>
        <li><a href="TCL公平在身边详情.html" target="_blank">案例：代客操盘 后患无穷</a><i>2015-10-25</i></li>
        <li><a href="TCL公平在身边详情.html" target="_blank">案例：虚假宣传 自食苦果</a> <i>2015-10-25</i></li>
      </ul>
      <div class="seemore"><a href="TCL公平在身边.html" target="_blank">查看更多>></a></div>
    </div>
  </div>
</div>
<div class="subscribe_box">
  <div class="contaier">
    <div class="tzzgx"><img src="/static/img/tzzgx.jpg"><br />
      关注TCL集团投资者关系官方微博</div>
    <div class="email_subscribe">
      <p>邮寄订阅<br />
        <i>SUBSCRIPTION</i></p>
      <a href="javascript:;" target="_blank" class="btn_sub">点击订阅</a></div>
  </div>
</div>
<!-- main end-->
<div id="mask"></div>
<div class="contaier">
  <div id="sub_pop"> <a class="sub_close pa"><img src="/static/img/close.png"></a>
    <div class="sub_content">
      <h4>欢迎订阅投资者关系<br />
        我们将会以Email形式把投资者关系发送至您的邮箱！</h4>
      <form class="contact_form" action="#" method="post" name="contact_form">
        <label>
          <input name="name" type="text" class="sub_name" placeholder="姓名" required>
        </label>
        <label>
          <input name="email" type="email" class="sub_email" placeholder="xxx@kuyumall.com" required ng-model="user.email">
        </label>
        <button type="submit" class="sub_bottom">提交</button>
      </form>
    </div>
  </div>
</div>

<!-- Help center html start -->
<div class="help">
  <div class="min-wid">
    <dl>
      <dt>特色服务</dt>
      <dd><a target="_blank"  href="#">T码检测通道</a></dd>
      <dd><a target="_blank"  href="#">T码专属通道</a></dd>
      <dd><a target="_blank"  href="#">全场包邮</a></dd>
      <dd><a target="_blank"  href="#">全国联保</a></dd>
    </dl>
    <dl>
      <dt>帮助中心</dt>
      <dd><a target="_blank"  href="#">购物指南</a></dd>
      <dd><a target="_blank"  href="#">支付方式</a></dd>
      <dd><a target="_blank"  href="#">配送方式</a></dd>
    </dl>
    <dl>
      <dt>服务支持</dt>
      <dd><a target="_blank"  href="#">售后服务</a></dd>
      <dd><a target="_blank"  href="#">自助服务</a></dd>
      <dd><a target="_blank"  href="#">服务网点</a></dd>
    </dl>
    <dl>
      <dt>关于TCL</dt>
      <dd><a target="_blank"  href="#">了解TCL</a></dd>
      <dd><a target="_blank"  href="#">人才招聘</a></dd>
      <dd><a target="_blank"  href="#">联系我们</a></dd>
    </dl>
    <dl>
      <dt>关注我们</dt>
      <dd><a target="_blank"  href="#">铁粉社区</a></dd>
      <dd><a target="_blank"  href="#">新浪微博</a></dd>
      <!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
    </dl>
    <dl>
      <dt>线下网点</dt>
      <dd><a target="_blank"  href="#">线下网点</a></dd>
      <!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
    </dl>
    <dl class="last-r">
      <p class="red phone">400-712-3456</p>
      <p class="grey">（24小时在线，仅收市话费）</p>
      <!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> --> 
      <a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
    </dl>
  </div>
</div>
<!-- Help center html end --> 
<!-- footer html end -->
<div class="footer">
  <div>
    <div class="foot-logo"><img src="/static/img/logo.png" /></div>
    <p class="blod"><a href="#">关于TCL</a> | <a href="#">社会责任</a> | <a href="#">投资者关系</a> | <a href="#">新闻中心</a> | <a href="#">经销商之家</a></p>
    <p>©2010-2011 TCL CORPORATION All Rights Reserved. <a href="#">使用条款</a> TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
    <div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
  </div>
</div>
<!-- footer html end -->
</div>

<!-- Right slide bar html end -->
<div class="slidebar"> 
  <!-- Shopping Cart html start --> 
  <span class="close">&#xe60f;</span>
  <div class="cart">
    <h3 class="cart-head">
      <div class="black"><span class="shoping">&#xe60c;</span>我的购物车</div>
    </h3>
    <div class="cart-list">
      <dl class="cart-dl bor-bott">
        <dt><img src="/static/img/shopping.png" /></dt>
        <dd class="cart-text">
          <p class="ware-name">4K曲面大屏电视</p>
          <p class="ware-price">￥1562</p>
          <p class="ware-num"><span class="reduce">-</span>
            <input class="num" type="text" value="1" />
            <span class="raise">+</span></p>
        </dd>
        <dd> <span class="del"></span> </dd>
      </dl>
      <dl class="cart-dl bor-bott">
        <dt><img src="/static/img/shopping.png" /></dt>
        <dd class="cart-text">
          <p class="ware-name">4K曲面大屏电视</p>
          <p class="ware-price">￥1562</p>
          <p class="ware-num"><span class="reduce">-</span>
            <input class="num" type="text" value="1" />
            <span class="raise">+</span></p>
        </dd>
        <dd> <span class="del"></span> </dd>
      </dl>
      <dl class="cart-dl bor-bott">
        <dt><img src="/static/img/shopping.png" /></dt>
        <dd  class="cart-text">
          <p class="ware-name">4K曲面大屏电视</p>
          <p class="ware-price">￥1562</p>
          <p class="ware-num"><span class="reduce">-</span>
            <input class="num" type="text" value="1" />
            <span class="raise">+</span></p>
        </dd>
        <dd> <span class="del"></span> </dd>
      </dl>
      <div class="paging"><span class="active">1</span><span>2</span><span>3</span><span>4</span></div>
    </div>
    <div class="cost">
      <p class="red">￥1562.00</p>
      <p class="black">总价（不含运费）</p>
      <button class="buy">马上购买</button>
    </div>
  </div>
  <!-- Shopping Cart html end --> 
  <!-- Registration html start -->
  <div class="regist">
    <h3> <span class="shoping">&#xe624;</span>注册 </h3>
    <div class="login-inp">
      <div>
        <input type="text" placeholder="手机或邮箱"/>
      </div>
      <div class="verify">
        <input type="text" placeholder="图片验证码"/>
        <span><img src="/static/img/verify.gif" /></span></div>
      <div>
        <input type="text" placeholder="密码6~16位，数字/字母/字符至少两种"/>
      </div>
      <div>
        <input type="text" placeholder="确认密码"/>
      </div>
      <p class="grey">注册TCL，即表示同意TCL的用户协议。</p>
      <div>
        <button class="buy">注册</button>
      </div>
      <p class="login-text"><span class="fr regis">登录</span></p>
    </div>
  </div>
  <!-- Registration html end --> 
  <!-- login html start -->
  <div class="login">
    <h3> <span class="shoping">&#xe624;</span>登录 </h3>
    <div class="login-inp">
      <div class="uname">
        <input type="text" placeholder="手机、邮箱或用户名" />
      </div>
      <div class="upas">
        <input type="text" placeholder="密码"/>
      </div>
      <div class="verify">
        <input type="text" placeholder="图片验证码"/>
        <span><img src="/static/img/verify.gif" /></span></div>
      <div class="ulog">
        <button class="buy">登录</button>
      </div>
      <p class="login-text"><span class="fl log">注册TCL账号</span><span class="fr">忘记密码?</span></p>
    </div>
    <div class="quick-logon">
      <p class="title">其他登录方式</p>
      <ul>
        <li><a href="#">&#xe628;</a></li>
        <li><a href="#">&#xe629;</a></li>
        <li><a href="#">&#xe62b;</a></li>
      </ul>
    </div>
  </div>
  <!-- login html end --> 
</div>
<!-- Right slide bar html end --> 
<!-- go to top html-->
<div class="goTop">
  <div class="item">&#xe624;</div>
  <div class="item">&#xe60c;</div>
  <div class="item">&#xe616;
    <div class=""></div>
  </div>
  <div class="item">&#xe610;</div>
  <div class="item">&#xe61f;</div>
  <a href="#">&#xe639;</a> </div>
<!-- go to top html--> 
<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/core/index.js"></script>
<script type="text/javascript" src="/static/js/core/about.js"></script>
<script type="text/javascript">

		$(document).on('click', '.j-repair li', function(){

			var index = $(this).index();

			$(this).addClass('active').siblings().removeClass('active');
			$('.j-bigbox').find('li').hide();
			$('.j-bigbox').find('li').eq(index).show();

		}).on('click', '.j-twotab li', function(){

			var index = $(this).index();

			$(this).addClass('active').siblings().removeClass('active');
			$('.two-content').find('ul').hide();
			$('.two-content').find('ul').eq(index).show();

		}).on('click', '.j-threetab li', function(){

			var index = $(this).index();

			$(this).addClass('active').siblings().removeClass('active');
			$('.j-threebox').find('li').hide();
			$('.j-threebox').find('li').eq(index).show();

		});

	</script>
</body>
</html>