<!DOCTYPE html>
<html>
<head>
	<!--新闻详情页面-->
	<meta charset="UTF-8">
	<title>TCL官方网站</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span  class="shoping">&#xe60c;</span>
						<span class="admin">&#xe624;</span>
						<span class="sear">&#xe614;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul> 
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	<!-- channel html start -->
	<div class="crumbs">
		<div class="main"><a href="#">首页</a> >> <a href="#">热门资讯</a></div>
	</div>
	<div class="dot-main">
		<div class="dot-main">
			<img src="/static/img/newsPage.jpg">
			<div class="invest new-white">
				<h3>TCL智能电视4月出货量82.2万台   同比增长38.5%</h3>
				<div class="new-content">
					<p>5月6日，TCL集团发布2016年4月份主要产品销量和服务业务进展公告。数据显示，4月份华星光电、多媒体和家电集团业务继续保持增长态势；服务业务进展顺利，智能电视终端激活用户数和日均活跃数等数据保持增长。
					</p>
					<p>4月份TCL的多媒体业务表现良好。当月LCD电视产品销量为165.9万台，同比增长17.5%。其中，TCL多媒体LCD电视本月国内和国外市场的销量分别为82.9万台和78.9万台。智能网络电视的表现更优，当月实现销量82.2万台，同比增长38.5%；其中国内智能网络电视销量为56.8万台，占TCL多媒体LCD电视在国内市场销量的68.6%。
					<p/>
					 4月份，TCL通讯手机及其它产品销量合计464.3万台，国内及国外市场的销量分别为23.2万台和441.1万台，其中智能手机销量占比为54.2%。
					<p/>
					 液晶面板产品销量继续保持开年以来的增长趋势。华星光电4月液晶玻璃基板投片量为20.0万（t1产线与t2产线合计投片量），同比增长60.7%；液晶电视面板及模组产品的销售面积折算后约为液晶玻璃基板19.2万片，同比增长63.9%。
					<p/>
					 TCL的家电产品销量在当月增速较好。家电集团4月空调、冰箱和洗衣机产品销量同比分别增长13.6%、7.96%和44.4%。此外，TCL显示科技4月份LCD显示模组销量为573.6万件，同比增长17.8%。
					<p/>
					<p>在主要产品业务稳定发展之外，服务业务进展顺利，公司的家庭互联网用户数量稳步增长。公告显示，当月通过TCL智能网络电视终端运营的激活用户已达1,386.4万，月内日均活跃用户数为591.3万；通过欢网运营的智能网络电视终端累计激活用户已达2,245.7万，日均活跃用户数825.8万。游戏应用用户规模已达620.4万，同比增长304.8%。同时，移动互联网应用平台累计激活用户数已突破3,100万，环比增长5.58%；月活跃用户为1,087.0万，环比增长5.0%；应用累计下载量3.2亿次，环比增长7.13%。
					<p/>
				</div>
			</div>
		</div>
		
	</div>
	<!-- channel html end -->
	<!-- Help center html start -->
	<div class="help">
		<div class="min-wid">
			<dl>
				<dt>帮助中心</dt>
				<dd><a target="_blank" href="/frontshow/content/getContent/42a6aef400b94765a3299204bf777391">购物指南</a></dd>
				<dd><a target="_blank" href="/frontshow/content/getContent/b1b5ae3780394e0ba1b68f79a5c2ea95">支付方式</a></dd>
				<dd><a target="_blank" href="/frontshow/content/getContent/00a69be22f1e4408bf0d9a5e563adb1e">配送方式</a></dd>
			</dl>
			<dl>
				<dt>服务支持</dt>
				<dd><a target="_blank" href="/servicecenter/serviceDolicy">售后服务</a></dd>
				<dd><a target="_blank" href="http://www.tcl.com/Service/self_service.html?cid=1">自助服务</a></dd>
				<dd><a target="_blank" href="http://www.tcl.com/Map/index.html">服务网点</a></dd>
			</dl>
			<dl>
				<dt>线下网点</dt>
				<dd><a target="_blank" href="/Store_Information.jsp">线下网点</a></dd>
				<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
			</dl>			
			<dl>
				<dt>关于TCL</dt>
				<dd><a target="_blank" href="http://www.tcl.com/About/about_tcl.html">了解TCL</a></dd>
				<dd><a target="_blank" href="http://www.tcl.com/Recruitment/index.html">人才招聘</a></dd>
				<dd><a target="_blank" href="http://www.tcl.com/About/index_cn.html">联系我们</a></dd>
			</dl>
			<dl>
				<dt>关注我们</dt>				
				<dd><a target="_blank" href="http://fans.tcl.com/">铁粉社区</a></dd>
				<dd><a target="_blank" href="http://widget.weibo.com/dialog/follow.php?fuid=1741028690&amp;refer=mall.tcl.com&amp;language=zh_cn&amp;type=widget_page&amp;vsrc=app_followbutton&amp;backurl=http%3A%2F%2Fmall.tcl.com%2F&amp;rnd=1453360859071">新浪微博</a></dd>
				<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
			</dl>
			<dl>
				<dt>特色服务</dt>
				<dd><a target="_blank" href="/frontshow/tcode/toUseTcodeCheck">T码检测通道</a></dd>
				<dd><a target="_blank" href="/frontshow/tcode/toUseTcodeAdd">T码专属通道</a></dd>
				<dd><a target="_blank" href="/frontshow/content/getContent/0a4e159304144d22a289a8eb498e9c88">全场包邮</a></dd>			
				<dd><a target="_blank" href="/frontshow/content/getContent/4822a43dd59f4dcab6ea13f307bbb2dc">全国联保</a></dd>
			</dl>		
			<dl class="last-r">
				<p class="red phone">400-712-3456</p>
				<p class="grey">（24小时在线，仅收市话费）</p>
				<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
				<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
			</dl>
		</div>
	</div>
	<!-- Help center html end -->
	<!-- footer html end -->
	<div class="footer">
		<div>
			<div class="foot-logo"><img src="/static/img/logo.png" /></div>
			<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
			<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
			<div class="foot-r"><span><img src="/static/img/car.png" />全场免费</span> <span><img src="/static/img/xin.png" />诚信网站</span></div>
		</div>
	</div>
	<!-- footer html end -->
	<!-- Right slide bar html start -->
	<div class="mask"></div>
	<div class="slidebar">
		<!-- Shopping Cart html start -->
		<div class="cart">
			<h3 class="cart-head">
				<span class="close">&#xe60f</span>
				<div class="black"><span class="shoping"></span>我的购物车</div>
			</h3>
			<div class="cart-list">
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<div class="paging"><span class="active">1</span><span>2</span><span>3</span><span>4</span></div>
			</div>
			<div class="cost">
				<p class="red">￥1562.00</p>
				<p class="black">总价（不含运费）</p>
				<button class="buy">马上购买</button>
			</div>
		</div>
		<!-- Shopping Cart html end -->
		<!-- Registration html start -->
		<div class="regist">
			<h3>
				注册
			</h3>
			<div class="login-inp">
				<div><input type="text" placeholder="手机或邮箱"/></div>
				<div class="verify"><input type="text" placeholder="图片验证码"/><span><img src="/static/img/verify.gif" /></span></div>
				<div><input type="text" placeholder="密码6~16位，数字/字母/字符至少两种"/></div>
				<div><input type="text" placeholder="确认密码"/></div>
				<p class="grey">注册TCL，即表示同意TCL的用户协议。</p>
				<div><button class="buy">注册</button></div>
				<p class="login-text"><span class="fr regis">注册</span></p>
			</div>
		</div>
		<!-- Registration html end -->
		<!-- login html start -->
		<div class="login">
			<h3>
				<img src="/static/img/admin.png" />
			</h3>
			<div class="login-inp">
				<div class="uname"><input type="text" placeholder="手机、邮箱或用户名" /></div>
				<div class="upas"><input type="text" placeholder="密码"/></div>
				<div class="ulog"><button class="buy">登录</button></div>
				<p class="login-text"><span class="fl"><i>&#xe60b</i>忘记密码</span><span class="fr log">注册</span></p>
			</div>
		</div>
		<!-- login html end -->
	</div>
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
	<script type="text/javascript" src="/static/js/core/loadPlate.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/comm.js"></script>
</body>
</html>