<!DOCTYPE html>
<html>
<head>
	<!--新闻中心-->
	<meta charset="UTF-8">
	<title>新闻中心</title>
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/about.css">
	<style type="text/css">
	html{
		/*background-image: url(/static/img/pindao.jpg);*/
		/*background-image: url(/static/img/index.png);*/
		/*background-image: url(/static/img/1920.jpg);*/
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	body{
		/*opacity: 0;*/
	}
	</style>
</head>
<body>
	<!-- Top html start -->
	<div class="header head-channel">
		<div class="nav channel-nav">
			<div class="nav-bar">
				<div class="hea-box"><a href="index.html"><img src="/static/img/logo.png" /></a></div>
				<div class="hea-box hot"></div>
				<div class="saerch">
					<input type="text" name="aaa" class="nav-saerch" />
					<div class="hot-words"><span>4K曲面电视</span> <span>2匹柜机</span> </div>
				</div>
				<div class="fr">
					<div class="menu">
						<!-- <div class="all"><a href="#" >全部商品</a><i></i></div> -->
						<div class="ds"><a href="产品频道首页 PC-002.html" >电视</a><i></i></div>
						<div class="sj"><a href="#" >手机</a><i></i></div>
						<div class="kt"><a href="#" >空调</a><i></i></div>
						<div class="bx"><a href="#" >冰箱</a><i></i></div>
						<div class="xij"><a href="#" >洗衣机</a><i></i></div>
						<div class="jk"><a href="#" >健康电器</a><i></i></div>
						<div class="fw"><a href="#" >服务</a><i></i></div>
						<div class="sq"><a href="#" >社区</a><i></i></div>
					</div>
					<div class="nav-r fl">
						<span  class="shoping">&#xe60c;</span>
						<span class="admin">&#xe624;</span>
						<span class="sear">&#xe614;</span>
					</div>
				</div>
			</div>
			<div class="menu-list">
				<div class="ds">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="sj">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
				<div class="kt">
					<ul>
						<li>
							<a href="#"><img src="/static/img/nav1.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav2.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav3.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav4.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
						<li>
							<a href="#"><img src="/static/img/nav5.jpg" />
							<span>艺术柜机空调</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Top html end -->
	
	<!-- contact us html start -->
	<div class="invest news_banner">
       <div class="news_TCL_nav">
			<ul>
				<li><a href="#" class="hover">新闻中心</a></li>
				<li><a href="#">集团新闻</a></li>
				<li><a href="#">产品新闻</a></li>
                <li><a href="#">服务新闻</a></li>
                <li><a href="#">社区新闻</a></li>
                <li class="news_more pr">更多<div class="new_smallnav pa"><a href="#" target="_blank">第三方观点</a><a href="#" target="_blank">新媒体</a><a href="#" target="_blank">视频新闻</a></div>
                </li>
			</ul>
            <a href="#" target="_blank" class="nwsbnr_seemore">查看更多</a>
		</div></div>
	<div class="invest box">
		<h3 class="news-title pr">第三方观点<span class="border_botm02 pa"></span></h3>
		<ul class="news-list">
			<li class="news-item">
				<div><img src="/static/img/news02.jpg" /></div>
				<p class="news-line"><a href="##">12月2日下午，TCL在北京发布了两款智能手机乐玩2、乐玩2</a></p>
				<p class="textl"><a href="##">查看全文</a></p>
			</li>
			<li class="news-item">
				<div><img src="/static/img/news03.jpg" /></div>
				<p class="news-line"><a href="##">12月2日下午，TCL在北京发布了两款智能手机乐玩2、乐玩2</a></p>
				<p class="textl"><a href="##">查看全文</a></p>
			</li>
			<li class="news-item">
				<div><img src="/static/img/news04.jpg" /></div>
				<p class="news-line"><a href="##">12月2日下午，TCL在北京发布了两款智能手机乐玩2、乐玩2</a></p>
				<p class="textl"><a href="##">查看全文</a></p>
			</li>
			<li class="news-item">
				<div><img src="/static/img/news05.jpg" /></div>
				<p class="news-line"><a href="##">12月2日下午，TCL在北京发布了两款智能手机乐玩2、乐玩2</a></p>
				<p class="textl"><a href="##">查看全文</a></p>
			</li>
		</ul>
		<div class="more"><a href="##">查看更多 >> </a></div>
	</div>

	<div class="invest box-white">
		<h3 class="news-title pr">新媒体<span class="border_botm02 pa"></span></h3>
		<ul class="new-media">
			<li class="media-item">
				<div class="media-back">
					<p class="title">李东生微博</p>
					<p>CL系列创新产品在CES展上次第亮
						相今年近三分之一的参展商来自中
						国中国电子企业在全球的影响力越
					</p>
					<a href="##">关注微博</a>
				</div>
			</li>
			<li class="media-item">
				<img src="/static/img/news06.jpg" />
				<div class="comm-l"></div>
			</li>
			<li class="media-item media-back">
				<div class="media-back">
					<p class="title">TCL集团微博</p>
					<p>#鬼吹灯之寻龙诀#今天电影“鬼吹灯
						之《寻龙诀》发布会在北京召开，作
						为合作方的T哥，带领铁粉小分队进
					</p>
					<a href="##">关注微博</a>
				</div>
			</li>
			<li class="media-item">
				<img src="/static/img/news07.jpg" />
				<div class="comm-l"></div>
			</li>

			<li class="media-item">
				<img src="/static/img/news08.jpg" />
				<div class="comm-r"></div>
			</li>
			<li class="media-item media-back">
				<div class="media-back">
					<p class="title">人才招聘</p>
					<p>明天10月10日，TCL集团校园宣讲会走进
						成都、西安、武汉三所城市九所高校！现
						场有可爱的师哥师姐和
					</p>
					<a href="##">进入招聘</a>
				</div>
			</li>
			<li class="media-item">
				<img src="/static/img/news09.jpg" />
				<div class="comm-r"></div>
			</li>
			<li class="media-item">
				<div class="media-back">
					<p class="title">TCL手机</p>
					<p>TCL通讯9月销量】来自TCL通讯的财报
						显示，公司9月手机及其它产品总销量
						744.1万台，同比增长
					</p>
					<a href="##">立即购买</a>
				</div>
			</li>
		</ul>
		<div class="more"><a href="##">查看更多 >> </a></div>
	</div>

	<div class="invest box">
		<h3 class="news-title pr">视频新闻<span class="border_botm02 pa"></span></h3>
		<ul class="video-list">
			<li class="video-item">
				<div class="pr"><a href="#" target="_blank"><img src="/static/img/news10.jpg" /><span class="sp_arrow pa"><img src="/static/img/sp_arrow.png"></span></a></div>
				<div class="comm">tcl赞助贫困儿童建立学校</div>
			</li>
			<li class="video-item">
				<div class="pr"><a href="#" target="_blank"><img src="/static/img/news11.jpg" /> <span class="sp_arrow pa"><img src="/static/img/sp_arrow.png"></span></a></div>
				<div class="comm">tcl赞助贫困儿童建立学校</div>
			</li>
			<li class="video-item">
				<div class="pr"><a href="#" target="_blank"><img src="/static/img/news12.jpg" /><span class="sp_arrow pa"><img src="/static/img/sp_arrow.png"></span></a></div>
				<div class="comm">tcl赞助贫困儿童建立学校</div>
			</li>
		</ul>
		<div class="more"><a href="##">查看更多 >> </a></div>
	</div>

    <div class="subscribe_box01">
  <div class="contaier">
    <div class="email_subscribe01">
      <p>邮寄订阅<br /><i>SUBSCRIPTION</i></p>
      <a href="javascript:;" target="_blank" class="btn_sub">点击订阅</a></div>
  </div>
</div>
<!-- main end-->
<div id="mask"></div>
<div class="contaier">
  <div id="sub_pop"> <a class="sub_close pa"><img src="/static/img/close.png"></a>
    <div class="sub_content">
      <h4>欢迎订阅投资者关系<br />
        我们将会以Email形式把投资者关系发送至您的邮箱！</h4>
      <form class="contact_form" action="#" method="post" name="contact_form">
        <label>
          <input name="name" type="text" class="sub_name" placeholder="姓名" required>
        </label>
        <label>
          <input name="email" type="email" class="sub_email" placeholder="xxx@kuyumall.com" required ng-model="user.email">
        </label>
        <button type="submit" class="sub_bottom">提交</button>
      </form>
    </div>
  </div>
</div>

	<!-- contact us html end -->	

	<!-- Help center html start -->
	<div class="help">
		<div class="min-wid">
			<dl>
				<dt>特色服务</dt>
				<dd><a target="_blank"  href="#">T码检测通道</a></dd>
				<dd><a target="_blank"  href="#">T码专属通道</a></dd>
				<dd><a target="_blank"  href="#">全场包邮</a></dd>			
				<dd><a target="_blank"  href="#">全国联保</a></dd>
			</dl>	
			<dl>
				<dt>帮助中心</dt>
				<dd><a target="_blank"  href="#">购物指南</a></dd>
				<dd><a target="_blank"  href="#">支付方式</a></dd>
				<dd><a target="_blank"  href="#">配送方式</a></dd>
			</dl>
			<dl>
				<dt>服务支持</dt>
				<dd><a target="_blank"  href="#">售后服务</a></dd>
				<dd><a target="_blank"  href="#">自助服务</a></dd>
				<dd><a target="_blank"  href="#">服务网点</a></dd>
			</dl>
						
			<dl>
				<dt>关于TCL</dt>
				<dd><a target="_blank"  href="#">了解TCL</a></dd>
				<dd><a target="_blank"  href="#">人才招聘</a></dd>
				<dd><a target="_blank"  href="#">联系我们</a></dd>
			</dl>
			<dl>
				<dt>关注我们</dt>				
				<dd><a target="_blank"  href="#">铁粉社区</a></dd>
				<dd><a target="_blank"  href="#">新浪微博</a></dd>
				<!-- <dd><a target="_blank"  href="#">官方微信</a></dd> -->
			</dl>
			<dl>
				<dt>线下网点</dt>
				<dd><a target="_blank"  href="#">线下网点</a></dd>
				<!-- <dd><a target="_blank"  href="#">零售体验店</a></dd> -->
			</dl>		

			<dl class="last-r">
				<p class="red phone">400-712-3456</p>
				<p class="grey">（24小时在线，仅收市话费）</p>
				<!-- <a href="#"><i>&#xe63d;</i>在线客服8:30-23:00</a> -->
				<a href="#"><i>&#xe61f;</i>在线客服8:30-23:00</a>
			</dl>
		</div>
	</div>
	<!-- Help center html end -->
	<!-- footer html end -->
	<div class="footer">
		<div>
			<div class="foot-logo"><img src="/static/img/logo.png" /></div>
			<p class="blod"><a href="#">关于TCL</a>   |   <a href="#">社会责任</a>   |   <a href="#">投资者关系</a>   |   <a href="#">新闻中心</a>   |   <a href="#">经销商之家</a></p>
			<p>©2010-2011 TCL CORPORATION All Rights Reserved.   <a href="#">使用条款</a>   TCL集团股份有限公司版权所有  粤ICP备05040863号</p>
			<div class="foot-r"> <span>&#xe63a;</span>诚信网站</div>
		</div>
	</div>
	<!-- footer html end -->
	<!-- Right slide bar html start -->
	<div class="mask"></div>
	<div class="slidebar">
		<!-- Shopping Cart html start -->
		<div class="cart">
			<h3 class="cart-head">
				<span class="close">&#xe60f</span>
				<div class="black"><span class="shoping"></span>我的购物车</div>
			</h3>
			<div class="cart-list">
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<dl class="cart-dl bor-bott">
					<dt><img src="/static/img/shopping.png" /></dt>
					<dd>
						<p class="ware-name">4K曲面大屏电视</p>
						<p class="ware-price">￥1562</p>
						<p class="ware-num"><span class="reduce">-</span><input class="num" type="text" value="1" /><span class="raise">+</span></p>
					</dd>
				</dl>
				<div class="paging"><span class="active">1</span><span>2</span><span>3</span><span>4</span></div>
			</div>
			<div class="cost">
				<p class="red">￥1562.00</p>
				<p class="black">总价（不含运费）</p>
				<button class="buy">马上购买</button>
			</div>
		</div>
		<!-- Shopping Cart html end -->
		<!-- Registration html start -->
		<div class="regist">
			<h3>
				注册
			</h3>
			<div class="login-inp">
				<div><input type="text" placeholder="手机或邮箱"/></div>
				<div class="verify"><input type="text" placeholder="图片验证码"/><span><img src="/static/img/verify.gif" /></span></div>
				<div><input type="text" placeholder="密码6~16位，数字/字母/字符至少两种"/></div>
				<div><input type="text" placeholder="确认密码"/></div>
				<p class="grey">注册TCL，即表示同意TCL的用户协议。</p>
				<div><button class="buy">注册</button></div>
				<p class="login-text"><span class="fr regis">注册</span></p>
			</div>
		</div>
		<!-- Registration html end -->
		<!-- login html start -->
		<div class="login">
			<h3>
				<img src="/static/img/admin.png" />
			</h3>
			<div class="login-inp">
				<div class="uname"><input type="text" placeholder="手机、邮箱或用户名" /></div>
				<div class="upas"><input type="text" placeholder="密码"/></div>
				<div class="ulog"><button class="buy">登录</button></div>
				<p class="login-text"><span class="fl"><i>&#xe60b</i>忘记密码</span><span class="fr log">注册</span></p>
			</div>
		</div>
		<!-- login html end -->
	</div>
	
	<!-- go to top html-->
	<div class="goTop">
		<div class="item">&#xe624;</div>
		<div class="item">&#xe60c;</div>
		<div class="item">&#xe616;
			<div class=""></div>
		</div>
		<div class="item">&#xe610;</div>
		<div class="item">&#xe61f;</div>
		<a href="#">&#xe639;</a>
	</div>
	<!-- go to top html-->
	<script type="text/javascript" src="/static/js/core/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/core/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/static/js/core/index.js"></script>
	<script type="text/javascript" src="/static/js/core/Plugin.js"></script>
    <script type="text/javascript" src="/static/js/core/about.js"></script>
	<script type="text/javascript">
		plugin.init();


	</script>
</body>
</html>